<!DOCTYPE html>
<html lang="en"><head><title>Wagnaria!/KN - Ngesub Nyata!</title>
<meta charset="utf-8">
<META NAME="description" CONTENT="KentutNeraka Fansubs">
<META NAME="keywords" CONTENT="KentutNeraka, Kentut Neraka, kentut neraka, kentutneraka, Fansub, Anime, rakaosd">
<link href="css/pure-min.css" rel="stylesheet" media="screen">
<link href="css/main.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="kn.css" type="text/css" />
<link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
 </style>
</head>
<style>
body {background:#f7f7f7}
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=178828899723";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="box" class="main">
<div id="☭" class="pure-u">
<table class="pure-table pure-table-horizontal">
<thead>
<a href="http://kentutneraka.org/">☭</a> |
<a href="http://kentutneraka.org/shows/airing.htm">SHOWTIMES</a> |
<a href="http://kentutneraka.org/shows/completed.htm">ANIME</a> |
<a href="http://kentutneraka.org/staff.htm">STAF</a> |
<a href="http://kentutneraka.org/about.htm">TENTANG</a> |
<a href="http://kentutneraka.org/donation.htm">DONASI</a> |
<a href="http://kentutneraka.org/recruitment.htm">PEREKRUTAN</a> |
<a href="https://nyaa.si/user/rakaosd"target=_blank>TORRENT</a> |
<a href="http://xdcc.kentutneraka.org/"target=_blank>XDCC</a> |
<a href="irc://irc.rizon.net/kentutneraka"target=_blank>IRC</a> |
<a href="https://discord.gg/MvUCMdr"target=_blank>DISCORD</a><hr>
<b>Informasi</b><br>
[26-04-2017] KN membuka request anime Movie dan OVA. Cek halaman <a href="http://kentutneraka.org/request.htm">Request Anime</a>.<br>
[27-08-2016] Informasikan bila ada tautan unduh atau tampilan laman yang bermasalah.<hr>
<center><div class="fb-page" data-href="https://www.facebook.com/KentutNerakaFansubs/" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/KentutNerakaFansubs/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KentutNerakaFansubs/">KentutNeraka Indonesia</a></blockquote></div></center><br>
<tr>
<th width="12%">Rilisan Terbaru</th>
<th></th>
</tr></thead>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">15-08-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/smartphone.htm">In Another World With My Smartphone - 04</a></div></td>
</tr>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">14-08-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/katsugeki-touken-ranbu.htm">Katsugeki - Touken Ranbu - 06</a></div></td>
</tr>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">06-08-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/katsugeki-touken-ranbu.htm">Katsugeki - Touken Ranbu - 05</a></div></td>
</tr>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">31-07-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/welcome-to-the-ballroom.htm">Welcome to the Ballroom - 05</a></div></td>
</tr>
 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">31-07-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/netsuzou-trap.htm">Netsuzou TRap - 03</a></div></td>
</tr>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">30-07-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/welcome-to-the-ballroom.htm">Welcome to the Ballroom - 04</a></div></td>
</tr>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">30-07-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/koi-to-uso.htm">Koi to Uso - 03</a></div></td>
</tr> 
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">28-07-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/smartphone.htm">In Another World With My Smartphone - 03</a></div></td>
</tr>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">27-07-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/katsugeki-touken-ranbu.htm">Katsugeki - Touken Ranbu - 03 & 04</a></div></td>
</tr>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">23-07-2017</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/welcome-to-the-ballroom.htm">Welcome to the Ballroom - 03</a></div></td>
</tr>
</tbody></table>
<a href="https://nyaa.si/user/rakaosd"> « Lainnya</a><br>
<center>KentutNeraka ☭ 2013 - 2017</center>
</div>
</body>
Dilihat:<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11340576; 
var sc_invisible=0; 
var sc_security="944c579d"; 
var sc_text=2; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11340576/0/944c579d/0/" alt="web
analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<a href="http://statcounter.com/p11340576/?guest=1"></a>
</div>
</html>
