<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>Wagnaria!/KN - Ngesub Nyata!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

</style>

<style type="text/css">
<!--
body {
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 200px;
	background-color: ;
}

-->
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>
<html>
<head>
<div style="text-align: right;">
<b><a href="https://www.facebook.com/KentutNerakaFansubs/"target=_blank>Facebook</a></b> - <b><a href="https://twitter.com/kentutnerakasub"target=_blank>Twitter</a></b> - <b><a href="https://discord.gg/MvUCMdr"target=_blank>Discord</a></b> - <b><a href="irc://kentutneraka@irc.rizon.net"target=_blank">IRC</a></b></div>
<hr>

<h1>Informasi:</h1> 
<p>
<b>[05-09-2016]</b> Kini kami menyediakan tautan unduh <b><a href="http://wagnaria.kentutneraka.org/"target=_blank>DDL</a></b> <em>(Wagnaria)</em> dan <b><a href="http://www.nyaa.se/?user=252429"target=_blank>Torrent</a></b> <em>(nyaa)</em>.<br><br>
<b>[27-08-2016]</b> Informasikan bila ada tautan unduh atau tampilan laman yang bermasalah.<br><br>
<b>[24-08-2016]</b> Pengembangan website sedang berlangsung secara bertahap.<br><br>
</p>
<hr>
 <div id="footer"><p>[KentutNeraka] - Memesubs Indonesia © 2013-2016</p></div>