<!DOCTYPE html>
<html lang="en" data-ng-app="KentutNeraka">
<head>
  <title>KentutNeraka (BETA)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/releases">New Releases</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">About</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div id="???" class="pure-u" data-ui-view></div>
</div>  
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}
-->
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="20%">Series</th>
<th width="10%">Episode</th>
<th width="17%">Will air/has aired</th>
<th width="12%">Translator</th>
<th width="12%">Timer</th>
<th width="12%">Editor</th>
<th width="12%">Typesetter</th>
<th width="12%">Encoder</th>
</tr></thead>
<tbody>
<!-- tanda SMC -->
<tr class="subbing">
<td class="title"></b> <a id="show_SMC" onclick="document.getElementById('spoiler_SMC').style.display=''; document.getElementById('show_SMC').style.display='none';" class="link">Sailor Moon Crystal</a><span id="spoiler_SMC" style="display: none"><a onclick="document.getElementById('spoiler_SMC').style.display='none'; document.getElementById('show_SMC').style.display='';" class="link">[-] Sailor Moon Crystal</a><br> 
<b>Title:</b> 
<br>Sailor Moon Crystal<br>
<b>Japanese Title:</b> 
<br>美少女戦士セーラームーン Crystal<br> 
<b>Short Title:</b> 
<br>SMC<br>
<b>Airtime (local):</b> 
<br>Saturdays - 17.00 WIB<br>
<b>Channel:</b> 
<br>Niconico<br><br>
<a href="http://kumpulbagi.id/rakaosd/sailor-moon-crystal-7820">Release here<br></td>
     <td>18 (of 26)</td>
<td>TBA</td>
<td class="staff-status-true">Niconico</td> 
<td class="staff-status-true">HS</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">\an8</td>
<td class="staff-status-false">rakaosd</td>
	
<!-- tanda Yuru Yuri-->
<tr class="subbing">
<td class="title"></b> <a id="show_yuru" onclick="document.getElementById('spoiler_yuru').style.display=''; document.getElementById('show_yuru').style.display='none';" class="link">Yuru Yuri San☆Hai!</a><span id="spoiler_yuru" style="display: none"><a onclick="document.getElementById('spoiler_yuru').style.display='none'; document.getElementById('show_yuru').style.display='';" class="link">[-] Yuru Yuri San☆Hai!</a><br> 
<b>Japanese Title:</b> 
<br>ゆるゆり さん☆ハイ<br>
<b>Short Title:</b> 
<br>YY<br>
<b>Airtime (local):</b> 
<br>Tuesday - 00.05 WIB<br>
<b>Channel:</b> 
<br>Crunchyroll<br><br>
<a href="http://wagnaria.github.io/mirror/yuru-yuri-san-hai.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/2015/10/yuru-yuri-sanhai-01.html">Release here<br> </td>
<td>5 (of 12)</td>
<td> <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-11-03T00:05:00" allowtransparency="true" frameborder="0" width="31" height="14.7"></iframe> 
	   days ago</td>
<td class="staff-status-true">irzie</td>
<td class="staff-status-true">calutak</td>
<td class="staff-status-false">OmBobby</td>
<td class="staff-status-true">rakaosd</td>
<td class="staff-status-true">rakaosd</td>

<!-- tanda Kowabon-->
<tr class="subbing">
<td class="title"></b> <a id="show_Kowabon" onclick="document.getElementById('spoiler_Kowabon').style.display=''; document.getElementById('show_Kowabon').style.display='none';" class="link">Kowabon</a><span id="spoiler_Kowabon" style="display: none"><a onclick="document.getElementById('spoiler_Kowabon').style.display='none'; document.getElementById('show_Kowabon').style.display='';" class="link">[-] Kowabon</a><br> 
<b>Japanese Title:</b> 
<br>こわぼん<br>
<b>Airtime (local):</b> 
<br>Sunday - 09.42 WIB<br>
<b>Channel:</b> 
<br>KBC<br><br>
<a href="http://wagnaria.github.io/mirror/kowabon.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/search/label/Kowabon">Release here<br> </td>
<td>10 (of 13)</td>
<td><iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-12-13T09:00:00" allowtransparency="true" frameborder="0" width="31" height="14.7"></iframe> 
	   days ago</td>
<td class="staff-status-true">>prosubs</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true">rakaosd</td>

<!-- tanda rainbow -->
<tr class="subbing">
<td class="title"></b> <a id="show_rainbow" onclick="document.getElementById('spoiler_rainbow').style.display=''; document.getElementById('show_rainbow').style.display='none';" class="link">Rainbow Days</a><span id="spoiler_rainbow" style="display: none"><a onclick="document.getElementById('spoiler_rainbow').style.display='none'; document.getElementById('show_rainbow').style.display='';" class="link">[-] Rainbow Days</a><br> 
<b>Title:</b> 
<br>Rainbow Days<br>
<b>Japanese Title:</b> 
<br>虹色デイズ<br> 
<b>Short Title:</b> 
<br>RD<br>
<b>Airtime (local):</b> 
<br>Sunday - 20.00 WIB<br>
<b>Channel:</b> 
<br>MX<br><br>
<a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Release here<br></td>
     <td>8 (of 24)</td>
<td><iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2016-02-28T21:30:00" allowtransparency="true" frameborder="0" width="21" height="14.7"></iframe> 
	   days ago</td>
<td class="staff-status-false">titidus</td> 
<td class="staff-status-true">heroine</td>
<td class="staff-status-false">Yupina</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true">Yatogami</td>

<!-- tanda DimensionW -->
<tr class="subbing">
<td class="title"></b> <a id="show_DimensionW" onclick="document.getElementById('spoiler_DimensionW').style.display=''; document.getElementById('show_DimensionW').style.display='none';" class="link">Dimension W</a><span id="spoiler_DimensionW" style="display: none"><a onclick="document.getElementById('spoiler_DimensionW').style.display='none'; document.getElementById('show_DimensionW').style.display='';" class="link">[-] Dimension W</a><br> 
<b>Title:</b> 
<br>Dimension W<br>
<b>Japanese Title:</b> 
<br>ディメンション ダブリュー<br> 
<b>Short Title:</b> 
<br>DW<br>
<b>Airtime (local):</b> 
<br>Sunday - 21.34 WIB<br>
<b>Channel:</b> 
<br>MX<br><br>
<a href="http://www.kentutneraka.org/releases/dimension-w.htm">Release here<br></td>
     <td>8 (of 12)</td>
<td><iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2016-02-28T21:30:00" allowtransparency="true" frameborder="0" width="21" height="14.7"></iframe> 
	   days ago</td>
<td class="staff-status-false">titidus</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>

<!-- tanda SMC_S3 -->
<tr class="">
<td class="title"></b> <a id="show_SMC_S3" onclick="document.getElementById('spoiler_SMC_S3').style.display=''; document.getElementById('show_SMC_S3').style.display='none';" class="link">Sailor Moon Crystal Season III</a><span id="spoiler_SMC_S3" style="display: none"><a onclick="document.getElementById('spoiler_SMC_S3').style.display='none'; document.getElementById('show_SMC_S3').style.display='';" class="link">Sailor Moon Crystal Season III</a><br> 
<b>Title:</b> 
<br>Sailor Moon Crystal <br>Season III<br>
<b>Japanese Title:</b> 
<br>美少女戦士セーラームーンCrystal<br>　第３期＜デス・バスターズ編＞<br> 
<b>Short Title:</b> 
<br>SMCS3<br>
<b>Airtime (local):</b> 
<br>Tuesdays - 01.00 WIB<br>
<b>Channel:</b> 
<br>?<br><br>
<a href="#">Release here<br></td>
     <td>1 (of ?)</td>
<td>in <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2016-04-04T03:00:00" allowtransparency="true" frameborder="0" width="11" height="14.7"></iframe> 
	   days</td>
<td class="staff-status-true">Niconico</td> 
<td class="staff-status-true">HS</td>
<td class="staff-status-true">rakaosd</td>
<td class="staff-status-true">rakaosd</td>
<td class="staff-status-true">rakaosd</td>

<!-- tanda BSD -->
<tr class="">
<td class="title"></b> <a id="show_bsd" onclick="document.getElementById('spoiler_bsd').style.display=''; document.getElementById('show_bsd').style.display='none';" class="link">Bungou Stray Dogs</a><span id="spoiler_bsd" style="display: none"><a onclick="document.getElementById('spoiler_bsd').style.display='none'; document.getElementById('show_bsd').style.display='';" class="link">[-] Bungou Stray Dogs</a><br> 
<b>Title:</b> 
<br>Bungou Stray Dogs<br>
<b>Japanese Title:</b> 
<br>文豪ストレイドッグス<br> 
<b>Short Title:</b> 
<br>BSD<br>
<b>Airtime (local):</b> 
<br>Thursdays - 03.00 WIB<br>
<b>Channel:</b> 
<br>?<br><br>
<a href="#">Release here<br></td>
     <td>1 (of 12)</td>
<td>in <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2016-04-07T03:00:00" allowtransparency="true" frameborder="0" width="11" height="14.7"></iframe> 
	   days</td>
<td class="staff-status-true">irzie</td> 
<td class="staff-status-true">?</td>
<td class="staff-status-true">?</td>
<td class="staff-status-true">?</td>
<td class="staff-status-true">Yatogami</td>

<!-- tanda sakamoto -->
<tr class="">
<td class="title"></b> <a id="show_sakamoto" onclick="document.getElementById('spoiler_sakamoto').style.display=''; document.getElementById('show_sakamoto').style.display='none';" class="link">Sakamoto desu ga?</a><span id="spoiler_sakamoto" style="display: none"><a onclick="document.getElementById('spoiler_sakamoto').style.display='none'; document.getElementById('show_sakamoto').style.display='';" class="link">Sakamoto desu ga?</a><br>  
<b>Title:</b> 
<br>Sakamoto desu ga?<br>
<b>Japanese Title:</b> 
<br>坂本ですが？<br> 
<b>Short Title:</b> 
<br>Sakamoto<br>
<b>Airtime (local):</b> 
<br>Fridays - 04.28 WIB<br>
<b>Channel:</b> 
<br>?<br><br>
<a href="#">Release here<br></td>
     <td>1 (of ?)</td>
<td>in <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2016-04-08T01:00:00" allowtransparency="true" frameborder="0" width="11" height="14.7"></iframe> 
	   days</td>
<td class="staff-status-false">rakaosd</td> 
<td class="staff-status-false">?</td>
<td class="staff-status-false">?</td>
<td class="staff-status-false">?</td>
<td class="staff-status-false">?</td>

<!-- tanda kagewanishou -->
<tr class="">
<td class="title"></b> <a id="show_kagewanishou" onclick="document.getElementById('spoiler_kagewanishou').style.display=''; document.getElementById('show_kagewanishou').style.display='none';" class="link">Kagewani Shou</a><span id="spoiler_kagewanishou" style="display: none"><a onclick="document.getElementById('spoiler_kagewanishou').style.display='none'; document.getElementById('show_kagewanishou').style.display='';" class="link">Kagewani Shou</a><br> 
<b>Title:</b> 
<br>Kagewani S2<br>
<b>Japanese Title:</b> 
<br>影鰐-KAGEWANI-承<br> 
<b>Short Title:</b> 
<br>kagewani<br>
<b>Airtime (local):</b> 
<br>Saturdays - 01.25 WIB<br>
<b>Channel:</b> 
<br>Crunchyroll<br><br>
<a href="http://www.kentutneraka.org/releases/kagewani2.htm">Release here<br></td>
     <td>2 (of 13)</td>
<td>in <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2016-04-09T01:00:00" allowtransparency="true" frameborder="0" width="11" height="14.7"></iframe> 
	   days</td>
<td class="staff-status-false">rakaosd</td> 
<td class="staff-status-false">HS</td>
<td class="staff-status-false">-</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>

</tbody></table>
</div>
</body></html>
 <p align="center"><span class="style6"><br>
&nbsp; &nbsp;Klik kartun untuk info lebih detail.&nbsp; &nbsp;<br>
&nbsp; &nbsp;Jam tayang sudah lokal (WIB).&nbsp; &nbsp;<br>
&nbsp; &nbsp;Tetaplah sabar dan menjadi wibu yang baik.&nbsp; &nbsp;<br><br>
&nbsp; &nbsp;☭ KentutNeraka - Anime Fansubs Indonesia.<br>Illegal © 2013 - 2016&nbsp; &nbsp;
</a></p></div>


<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//kentutneraka.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>

