<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>KentutNeraka - New Release</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://www.kentutneraka.org">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
	  <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://wagnaria.github.io/shows/airing.htm">Rilisan Terbaru</a></li>
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://wagnaria.github.io/shows/airing.htm">Status Proyek</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://wagnaria.github.io/shows/incomplete.htm">Proyek Belum Selesai</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria.github.io/shows/completed.htm">Proyek Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.github.io/staff.htm">Relawan</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria.github.io/recruitment.htm">Ingin Gabung?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Wagnaria/KN!</a></li>
      </ul>
    </div>
  </div>
  <div id="???" class="pure-u" data-ui-view></div>
</div>  
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}
-->
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="10%">Tanggal Rilis</th>
<th width="33%">Deskripsi</th>
<th width="17%">Kategori</th>
</tr></thead>
<tbody>
	<!-- tanda -->
<tbody>
<tr class="">
<td class="title">25 Januari 2016</a></td>
<td>Dimension W - 03</td>
<td>Serial TV</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">23 Januari 2016</a></td>
<td>Boku dake ga Inai Machi - 03</td>
<td>Serial TV</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">20 Januari 2016</a></td>
<td>Dimension W - 02</td>
<td>Serial TV</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">18 Januari 2016</a></td>
<td>Boku dake ga Inai Machi - 02</td>
<td>Serial TV</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">15 Januari 2016</a></td>
<td>Dimension W - 01</td>
<td>Serial TV</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">13 Januari 2016</a></td>
<td>Ajin Part 1 Shoudou</td>
<td>Film</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">12 Januari 2016</a></td>
<td>Boku dake ga Inai Machi - 01</td>
<td>Serial TV</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">03 Januari 2016</a></td>
<td>A Corpse is Buried Under Sakurako's Feet - 12</td>
<td>Serial TV</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">02 Januari 2016</a></td>
<td>Aria The Avvenire - 01</td>
<td>OVA</td>
<!-- tanda -->
<tbody>
<tr class="">
<td class="title">01 Januari 2016</a></td>
<td>Shinmai Maou no Testament BURST Vol. 1</td>
<td>Bluray</td>
<!-- tanda -->
	

</tbody></table>
</div>
</body></html>
 <p align="center"><span class="style6"><br><br>
&nbsp; &nbsp;Illegal © 2013 - 2016 ☭ KentutNeraka - Anime Fansubs Indonesia.&nbsp; &nbsp;<br>
</a></p></div>
