<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>Recruitment?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style6 {color: #2f7ab9}
-->
  </style>
</head>
<body>
<div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/releases">New Releases</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">About</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div id="???" class="pure-u" data-ui-view></div>
</div>  
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -60px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}

-->
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope"><br>
<body><div id="食べ物" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><h1>We are hiring!</h1></th>
</tbody>
</table><br>
&nbsp;&nbsp;Sekarang kami akan selalu membuka lowongan buat kamu (fansubber) yang ingin ngesub bareng kami.<br>
&nbsp;&nbsp;<b>Intro</b> <a id="show_id8" onclick="document.getElementById('spoiler_id8').style.display=''; document.getElementById('show_id8').style.display='none';" class="link">[Show]</a><span id="spoiler_id8" style="display: none"><a onclick="document.getElementById('spoiler_id8').style.display='none'; document.getElementById('show_id8').style.display='';" class="link">[Hide]</a><br> &nbsp;&nbsp;Perlu diketahui sebelumnya, sampai kapan pun prinsip KN tidak akan pernah bergeser dari napas sport, tragedy, drama dan dark. <br>
&nbsp;&nbsp;KN bukan tipe grup yang konsepnya gonta-ganti sesuai kebutuhan leecher. <br>
&nbsp;&nbsp;Kamu tidak akan menemukan KN dengan karaoke FX shit, hardsub, iklan, watermark atau apalah.<br><br>

&nbsp;&nbsp;Kami ngesub kartun Jepang bukan karena kartun tersebut sedang ramai, tapi kami ngesub kartun karena kami menikmatinya.<br>
&nbsp;&nbsp;Dengan prinsip itu, KN menciptakan ruang sendiri dan tidak mengganggu/memanfaatkan ruang grup lain.<br>
&nbsp;&nbsp;Kami berusaha untuk tidak palsu. Jika kami tidak menyukai kartun itu, maka kami tidak akan mengesubnya. <br>
&nbsp;&nbsp;Jadi, kami tidak mungkin membayar kamu ngesub di KN. Sorry guys, kami ngesub cuma hobi, tidak mengincar profit/uang.<br>
</span><br>
&nbsp;&nbsp;<b>Style rilisan KN 2014-sekarang</b> <a id="show_id7" onclick="document.getElementById('spoiler_id7').style.display=''; document.getElementById('show_id7').style.display='none';" class="link">[Show]</a><span id="spoiler_id7" style="display: none"><a onclick="document.getElementById('spoiler_id7').style.display='none'; document.getElementById('show_id7').style.display='';" class="link">[Hide]</a><br> 
&nbsp;&nbsp;- Tidak memakai lirik romaji/kana/kanji pada lagu pembuka/penutup.<br> 
&nbsp;&nbsp;- Tidak menggunakan karaokeFX pada lagu pembuka/penutup.<br> 
&nbsp;&nbsp;- Tidak menggunakan honorifik Jepang (Menendang -san,-kun,-chan,-dono ke laut).<br>
&nbsp;&nbsp;- <s>Berusaha</s> full typeshit di setiap rilisan.<br>
&nbsp;&nbsp;- Penggunaan font dialog berwarna putih + bord berwarna gelap (hitam).<br>
&nbsp;&nbsp;- Memberikan rilisan terbaik yang layak ditonton.<br>
&nbsp;&nbsp;- Tanpa meme di setiap rilisan (<s>kurang yakin juga sih</s>).<br></b></a>
</span><br>

&nbsp;&nbsp;<b>Kenapa harus ngesub di KN?</b> <a id="show_id9" onclick="document.getElementById('spoiler_id9').style.display=''; document.getElementById('show_id9').style.display='none';" class="link">[Show]</a><span id="spoiler_id9" style="display: none"><a onclick="document.getElementById('spoiler_id9').style.display='none'; document.getElementById('show_id9').style.display='';" class="link">[Hide]</a><br>
&nbsp;&nbsp;- Tanpa deadline dalam mengerjakan proyek.<br> 
&nbsp;&nbsp;- <s>Bisa bergosip ria di grup chat.</s><br> 
&nbsp;&nbsp;- Semua yang perlu kamu tahu akan kami ajarkan.<br> 
&nbsp;&nbsp;- <b>Ngesub kartun yang kamu mau.</b> Bukan berarti kamu bebas mengambil judul di tiap musimnya,<br> 
&nbsp;&nbsp;tapi tergantung staf yang lainnya juga. Kecuali kamu bisa solo. <br>
&nbsp;&nbsp;Biasanya sang <b>penerjemah/translator</b> yang mengambil judul proyek untuk digarap, <br>
&nbsp;&nbsp;editor dll hanya supporting yang "penting". <br>
&nbsp;&nbsp;Namun tidak menutup kemungkinan editor dll ngesub kartun favoritnya. <br></b></a>
</span><br>
<hr>
<b>&nbsp;&nbsp;Syarat dan Ketentuan:</b><br>
&nbsp;&nbsp;- Rajin online (minimal 2 hari dalam seminggu), niat, ikhlas, konsisten, dan peduli terhadap proyeknya.<br><hr>

&nbsp;&nbsp;<s><b>Encoder/Re-Encoder</b> <a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';" class="link">[Show]</a><span id="spoiler_id" style="display: none"><a onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';" class="link">[Hide]</a><br></s>
&nbsp;&nbsp;- Punya PC sendiri dengan spek <em><strong>minimal</strong></em> quadcore dengan ram 4 GB/setara. <em><br>
&nbsp;&nbsp;&nbsp;(Di bawah itu mungkin agak maksa. PC ya, bukan laptop). Atau menggunakan server pribadi juga boleh.</em><br> 
&nbsp;&nbsp;- Menggunakan 10bit modern r2525kMod 40bb568 / tMod [10-bit@all X86].<br> 
&nbsp;&nbsp;- Paham betul membuat softsubs modern.<br> 
&nbsp;&nbsp;- Paham betul penggunaan MKVtoolnix.<br>
&nbsp;&nbsp;- Punya koneksi internet yang memadai.<br></b></a>
</span><br>
 
&nbsp;&nbsp;<s><b>Translator</b> <a id="show_id1" onclick="document.getElementById('spoiler_id1').style.display=''; document.getElementById('show_id1').style.display='none';" class="link">[Show]</a><span id="spoiler_id1" style="display: none"><a onclick="document.getElementById('spoiler_id1').style.display='none'; document.getElementById('show_id1').style.display='';" class="link">[Hide]</a><br>
&nbsp;&nbsp;- Mampu menerjemahkan dialog dari B.Inggris/Jepang.<br>
&nbsp;&nbsp;- Bacaan untuk menjadi seorang penerjemah/translator <a href="http://puu.sh/ketL8/c327e89be1.pdf">di sini.</a><br>
</span><br>

&nbsp;&nbsp;<b>Timer</b> <a id="show_id2" onclick="document.getElementById('spoiler_id2').style.display=''; document.getElementById('show_id2').style.display='none';" class="link">[Show]</a><span id="spoiler_id2" style="display: none"><a onclick="document.getElementById('spoiler_id2').style.display='none'; document.getElementById('show_id2').style.display='';" class="link">[Hide]</a><br>
&nbsp;&nbsp;- Mampu menyelaraskan waktu dialog dengan tepat.<br>
&nbsp;&nbsp;- Bacaan untuk menjadi seorang penyelaras waktu/timer dari WhyNot Fansubs <a href="http://puu.sh/keud2/ae91a048b7.pdf">di sini.<br></b></a>
</span><br>

&nbsp;&nbsp;<b>Editor</b> <a id="show_id3" onclick="document.getElementById('spoiler_id3').style.display=''; document.getElementById('show_id3').style.display='none';" class="link">[Show]</a><span id="spoiler_id3" style="display: none"><a onclick="document.getElementById('spoiler_id3').style.display='none'; document.getElementById('show_id3').style.display='';" class="link">[Hide]</a><br>
&nbsp;&nbsp;- Menyunting dialog/memperbaiki susunan kalimat dengan benar.<br>
&nbsp;&nbsp;- Paham EYD dan cinta B. Indonesia.<br>
&nbsp;&nbsp;- Punya wawasan luas/cerdas.<br>
&nbsp;&nbsp;- Punya pengalaman lebih dalam hal menyunting.<br>
&nbsp;&nbsp;- Bacaan untuk menjadi seorang penyunting/editor <a href="http://puu.sh/ketXF/1b88ae6f58.pdf">di sini.<br></b></a>
</span><br>

&nbsp;&nbsp;<b>Typesetter</b> <a id="show_id4" onclick="document.getElementById('spoiler_id4').style.display=''; document.getElementById('show_id4').style.display='none';" class="link">[Show]</a><span id="spoiler_id4" style="display: none"><a onclick="document.getElementById('spoiler_id4').style.display='none'; document.getElementById('show_id4').style.display='';" class="link">[Hide]</a><br>
&nbsp;&nbsp;- Paham dasar-dasar aegisub visual typesetting, menggunakan mocha + motion lua lebih bagus.<br>
&nbsp;&nbsp;- Mengatur font/menata sign semirip mungkin dengan scene dalam video.<br>
&nbsp;&nbsp;- Punya pengalaman lebih dalam typesetting.<br>
&nbsp;&nbsp;- Bacaan untuk menjadi seorang penata rias/typesetter dari Unanimated <a href="http://unanimated.github.io/ts/index.htm">di sini.<br></b></a>
</span><br>

&nbsp;&nbsp;<b>QC/Finishing</b><a id="show_id5" onclick="document.getElementById('spoiler_id5').style.display=''; document.getElementById('show_id5').style.display='none';" class="link">[Show]</a><span id="spoiler_id5" style="display: none"><a onclick="document.getElementById('spoiler_id5').style.display='none'; document.getElementById('show_id5').style.display='';" class="link">[Hide]</a><br>
&nbsp;&nbsp;- Punya tingkat konsentrasi yang super.<br>
&nbsp;&nbsp;- Mampu menemukan kesalahan seperti typo, scene bleed, gagal typeset, dan kerusakan video.<br>
&nbsp;&nbsp;- Punya tanggung jawab yang besar.<br>
&nbsp;&nbsp;- Punya koneksi internet yang memadai.<br></b></a>
</span><br>

&nbsp;&nbsp;<s><b>Distro</b></s> <a id="show_id6" onclick="document.getElementById('spoiler_id6').style.display=''; document.getElementById('show_id6').style.display='none';" class="link">[Show]</a><span id="spoiler_id6" style="display: none"><a onclick="document.getElementById('spoiler_id6').style.display='none'; document.getElementById('show_id6').style.display='';" class="link">[Hide]</a><br>
&nbsp;&nbsp;- Mengunggah rilisan ke berbagai file hosting.<br>
&nbsp;&nbsp;- Punya server pribadi/file hosting premium lebih bagus.<br>
&nbsp;&nbsp;- Punya koneksi internet yang memadai.<br></b></a>
</span><hr>

&nbsp;&nbsp;<em>Untuk pemula, semua akan kami ajari kalau kamu memang betul-betul niat.</em><br>
&nbsp;&nbsp;<em>Kalau kamu tertarik, isi formulir lamaran <a href="http://goo.gl/forms/aU8XV6v5ww" target=_blank>di sini</a> <br>
&nbsp;&nbsp;<em>Kami akan merespon secepatnya!<br>
&nbsp;&nbsp;<em>Jangan malu-malu, karena kami tidak akan menggigitmu, mungkin.<br>
&nbsp;&nbsp;Good luck!<br><br>
&nbsp;&nbsp;Regards,<br>
&nbsp;&nbsp;Keluarga besar Wagnaria!/KentutNeraka<br><br><br>
