/* CSS Document */

body {margin:0 auto; color:#000000; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; background:url(http://puu.sh/88Tr8.jpg) fixed top no-repeat;}
a {color: #009999; text-decoration:none;}
a:hover {text-decoration:underline; color: #e03972;}
.unduhproyek {}


/* Div */

#container {margin:0 auto; background:url(../gambar/menuatas.png) repeat-x; height:40px;}
#grupper {margin:auto;}
#menuatas {padding:10px; margin:auto; color: #FFFFFF;}
#menuatas a { color:#FFFFFF;}
#menuatas a:hover {color:#FFFFFF; text-decoration:underline;}
#wrapper {width:840px; margin:0 auto;}
#content-atas {margin-top:15px;}
#content-atas a {background:#fffeee; padding:5px 25px 5px 25px; color:#000000; border:1px solid black; font-weight:bolder;}
#content-atas a:hover {background:#cccccc; padding:5px 25px 5px 25px; text-decoration:none; font-weight:bolder;}
#content-isi {background:#eeeeee; margin-top:5px; border:1px solid black; width:780px; padding:10px;}
#content-bawah {margin-top:15px;}
#content-bawah a {background:#fffeee; padding:5px 25px 5px 25px; color:#000000; border:1px solid black; font-weight:bolder;}
#content-bawah a:hover {background:#cccccc; padding:5px 25px 5px 25px; text-decoration:none; font-weight:bolder;}
#content-rilis {background:#eeeeee; margin-top:5px; border:1px solid black; width:780px; padding:10px;}
#chat {margin-top:15px;}
#chat a {background:#fffeee; padding:5px 25px 5px 25px; color:#000000; border:1px solid black; font-weight:bolder;}
#chat a:hover {background:#fffeee; padding:5px 25px 5px 25px; text-decoration:none; font-weight:bolder;}
#chattagay {font-size:11px;}
#content-chat {margin-top:5px; background:#fffeee; color:#000000; border:1px solid black;}
#footer {padding:10px; margin:auto; color: #FFFFFF; background:url(../gambar/menuatas.png) repeat-x; margin-top:10px; }
#footer a { color:#FFFFFF;}
#footer a:hover {color:#FFFFFF; text-decoration:underline;}

/* Font */

.judulrilis {font-size: 10px; font-weight: bold;}
