<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>The Seven Deadly Sins - Signs of Holy War (Nanatsu no Taizai - Seisen no Shirushi)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #98d9a8;
}

-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>

<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h2>The Seven Deadly Sins - Signs of Holy War (Nanatsu no Taizai - Seisen no Shirushi)</h2></center></th>
</tbody>
</table>
<br><center><img src="image/7sins-sp.png"></center><hr>
<div id="sidebar-right">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Skrip:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Pengolah Video:</strong> Yatogami<br> 
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Kategori:</strong> Serial TV/Spesial<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 19 - 848x480 @ crf 23)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Jepang/AAC 2.0 - 48.0 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 2 (dari 4)<br> 
&nbsp;&nbsp;<strong>Status:</strong> Sedang Berperang<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> Cerita lanjutan dari serial The Seven Deadly Sins.
<hr>
&nbsp;&nbsp;<b>Episode 01:</b> The Dark Dream Begins (Mimpi Buruk Dimulai)<br>
&nbsp;&nbsp;<b>720p:</b> <a href="http://www.nyaa.se/?page=view&tid=845175"target=_blank>[Torrent]</a> <a href="https://mega.nz/#!ssAjQZ5S!AUKdCooVwtvmZ9-Tx0JbYXfWEtIQxPJH6g7D_t_XfQs"target=_blank>[Mega]</a> <a href="http://filefenix.com/1BpB/[KentutNeraka]_The_Seven_Deadly_Sins_-_Signs_of_Holy_War_-_01_[720p]_[4606A48A].mkv"target=_blank>[Filefenix]</a> <a href="http://kbagi.com/rakaosd/the-seven-deadly-sins-signs-of-holy-war-421918/kentutneraka-the-seven-deadly-sins-signs-of-holy-war-01-720p-4606a48a,3111721,list,1,1.mkv"target=_blank>[kbagi]</a><br>
&nbsp;&nbsp;<b>480p:</b> <a href="https://mega.nz/#!BhpQ1ALT!pSrHWoTLT2gP-CP2vHOle-LGHbFQrTy3PG8T-A7VvKI"target=_blank>[Mega]</a> <a href="http://filefenix.com/1Bpo/[KentutNeraka]_The_Seven_Deadly_Sins_-_Signs_of_Holy_War_-_01_[480p]_[6216BE08].mkv"target=_blank>[Filefenix]</a> <a href="http://kbagi.com/rakaosd/the-seven-deadly-sins-signs-of-holy-war-421918/kentutneraka-the-seven-deadly-sins-signs-of-holy-war-01-480p-6216be08,3111722,list,1,1.mkv"target=_blank>[kbagi]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 02:</b> Our Fighting Festival (Festival Pertarungan Kita)<br>
&nbsp;&nbsp;<b>720p:</b> <a href="http://www.nyaa.se/?page=view&tid=846929"target=_blank>[Torrent]</a> <a href="https://mega.nz/#!ZgAjRQ5b!_ctDI7tScfrxJ_kUl02QE_iRjhwuKqxJMHTP8l1how0"target=_blank>[Mega]</a> <a href="http://filefenix.com/M2m/[KentutNeraka]_The_Seven_Deadly_Sins_-_Signs_of_Holy_War_-_02_[720p]_[BD8B0524].mkv"target=_blank>[Filefenix]</a> <a href="http://kbagi.com/rakaosd/the-seven-deadly-sins-signs-of-holy-war-421918/kentutneraka-the-seven-deadly-sins-signs-of-holy-war-02-720p-bd8b0524,3130633,list,1,1.mkv"target=_blank>[kbagi]</a><br>
&nbsp;&nbsp;<b>480p:</b> <a href="https://mega.nz/#!5sx31YJZ!ezbBZGC0nVL-xxQVFlMldmqMKbBCvQEWVRmpHx1RIo8"target=_blank>[Mega]</a> <a href="http://filefenix.com/M2o/[KentutNeraka]_The_Seven_Deadly_Sins_-_Signs_of_Holy_War_-_02_[480p]_[C6699890].mkv"target=_blank>[Filefenix]</a> <a href="http://kbagi.com/rakaosd/the-seven-deadly-sins-signs-of-holy-war-421918/kentutneraka-the-seven-deadly-sins-signs-of-holy-war-02-480p-c6699890,3130643,list,1,1.mkv"target=_blank>[kbagi]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 03:</b> In Pursuit of First Love (Mengejar Cinta Pertama)  <br>
&nbsp;&nbsp;<b>720p:</b> <a href="http://www.nyaa.se/?page=view&tid=849146"target=_blank>[Torrent]</a> <a href="
https://mega.nz/#!AgRxEKxQ!6A8ZUlFJCJbBNun4_VFJ1p8L7ehAezvntp0GrhJqha4
"target=_blank>[Mega]</a> <a href="http://filefenix.com/22P6/[KentutNeraka]_The_Seven_Deadly_Sins_-_Signs_of_Holy_War_-_03_[720p]_[E59D5FE4].mkv"target=_blank>[Filefenix]</a> <a href="http://kbagi.com/rakaosd/the-seven-deadly-sins-signs-of-holy-war-421918/kentutneraka-the-seven-deadly-sins-signs-of-holy-war-03-720p-e59d5fe4,3157020,list,1,1.mkv"target=_blank>[kbagi]</a>
<br>
<hr>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//kentutneraka.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>





