<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Arslan Senki (The Heroic Legend of Arslan - Dust Storm Dance)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}
-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Arslan Senki (The Heroic Legend of Arslan - Dust Storm Dance)</h1></center></th>
</tbody>
</table>
<br><center><img src="image/ass2.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Penerjemah:</strong> Zhara<br> 
&nbsp;&nbsp;<strong>Penyelaras Waktu/Penata Rias:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Penyunting:</strong> NandoL<br> 
&nbsp;&nbsp;<strong>Pengolah Video:</strong> Yatogami<br>  

</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Kategori:</strong> Serial TV<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 19 - 848x480 @ crf 23)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Japan/AAC 2.0 - 48.00 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 6 (dari 8)<br> 
&nbsp;&nbsp;<strong>Status:</strong> Sedang Berjalan<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> Cerita lanjutan dari serial Arslan Senki.
<hr>
&nbsp;&nbsp;<b>Bab I:</b> "Serangan Tentara Turan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!YwACnQBQ!6UkbqO7FsUeBRz510VUi6GL5TYiKG4abcboYICrFceM"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-01-720p-e47b26b1,2933348,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Ih7/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_01_[720p]_[E47B26B1].mkv"target=_blank>[FileFenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!BxBxVCJT!gXqgH1eVp7xfIDHw8LGYldlWSLQsgEeu039f0D-UaEI"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-01-480p-d1437513,2933350,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Ih6/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_01_[480p]_[D1437513].mkv"target=_blank>[FileFenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Bab II:</b> "Raja Melawan Penakluk"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!BlZSxB4K!WgjvKUIVIggozO6zDkg0gGwVtxdsnSKsD6T_Xg39hFU"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-02-720p-b50f7ae1,2953893,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Ih9/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_02_[720p]_[B50F7AE1].mkv"target=_blank>[FileFenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!ppIABZxK!vEh5ikoGpaqLyAb7fWpKqfYjINrlk5KaLMjS1r8be8g"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-02-480p-1f58e469,2953895,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Ih8/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_02_[480p]_[1F58E469].mkv"target=_blank>[FileFenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Bab III:</b> "Kuda Perjalanan, Kesedihan, dan Kesendirian"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!cx5SXR5L!iKEVJ3DLG03D4_ffN1aMpX1fj9_cSEKtCoLeENuFIdw"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-03-720p-2167f710,3039485,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1YHi/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_03_[720p]_[2167F710].mkv"target=_blank>[FileFenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!AhwSlB5R!TFiBQvCi-w0SobG0WWlLBXhzrdhao7-cg50rMZuapEo"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-03-480p-7d30e21e,3039493,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1YHg/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_03_[480p]_[7D30E21E].mkv"target=_blank>[FileFenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Bab IV:</b> "Ibu Kota Daratan dan Lautan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!Y0RmUbhI!QjZjO3LNNn-t4NAUFdIHpsAQnxH2sgYEJCpLJQ2nDBg"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-04-720p-b39abba1,3039489,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1YHz/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_04_[720p]_[B39ABBA1].mkv"target=_blank>[FileFenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!5kRDGL5L!VOd-Fq0SobULOg55dpUAKKgwLzw-EgVTf_-2C2ZvX8M"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-04-480p-89dc018e,3039512,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1YHj/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_04_[480p]_[89DC018E].mkv"target=_blank>[FileFenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Bab V:</b> "Jalan Berbeda"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!EwBS3ZpB!hIzyNSsS_TI3pFc2UUvVqjmBn-K5STHDBoUu4tFhPtw"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-05-720p-821fbb18,3057037,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/19my/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_05_[720p]_[821FBB18].mkv"target=_blank>[FileFenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!pppg0CCL!ZF5Jq3KfZ69eDrDAKQ8Kj2jXvmGjuYc_stSV6idmDzA"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-05-480p-de4b459d,3057038,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/19mx/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_05_[480p]_[DE4B459D].mkv"target=_blank>[FileFenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Bab VI:</b> "Malapetaka Raja"<br>
&nbsp;&nbsp;720p: <a href="#"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-06-720p-d38798ae,3090604,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/20Ff/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_06_[720p]_[D38798AE].mkv"target=_blank>[FileFenix]</a><br>
&nbsp;&nbsp;480p: <a href="#"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615/sikn-arslan-senki-the-heroic-legend-of-arslan-dust-storm-dance-06-480p-1f069eff,3090603,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/20Fe/[SIKN]_Arslan_Senki_(The_Heroic_Legend_of_Arslan_-_Dust_Storm_Dance)_-_06_[480p]_[1F069EFF].mkv"target=_blank>[FileFenix]</a><br>
<hr>
<br>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//kentutneraka.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>

