<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Days</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}
-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Days</h1></center></th>
</tbody>
</table>
<br><center><img src="image/days.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Skrip/Pengolah Video: </strong>rakaosd (01,04+), calutak (02-03)<br> 

</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Kategori:</strong> Serial TV<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit 1280x720 @ crf 19<br>
&nbsp;&nbsp;<strong>Audio:</strong> Jepang/AAC 2.0 - 41.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 17 (dari 24)<br> 
&nbsp;&nbsp;<strong>Status:</strong> Sedang Berlari<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> *Akan segera diperbaharui.
<hr>
&nbsp;&nbsp;<a id="show_unduh" onclick="document.getElementById('spoiler_unduh').style.display=''; document.getElementById('show_unduh').style.display='none';" class="link">Episode 01-12</a><span id="spoiler_unduh" style="display: none"><a onclick="document.getElementById('spoiler_unduh').style.display='none'; document.getElementById('show_unduh').style.display='';" class="link">[-] Episode 01-12</a><br><br>
&nbsp;&nbsp;<b>Days 01:</b> "Hanya Dengan Ini, Aku Merasa Bisa Terus Berlari"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!axtGxRTR!xOVmnmFcbehUwUahfJ9hvnp8w2-eYjwDqfZ6veUM73Q"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-01-78cfc259,2926981,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Iju/[KentutNeraka]_Days_-_01_[78CFC259].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/pYM4j/18d12c4a63.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 02:</b> "Aku Ingin Menjadi Bagian dari Tim Impian"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!a9NjjCYa!v-1ah-6bYB1eUrcEaIKpKpmlfnB_wQ3IELNNpxqPyhM"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-02-31a6010d,2956339,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Ijw/[KentutNeraka]_Days_-_02_[31A6010D].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/pYMbW/abe0a0d61f.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 03:</b> "Bermain Sepak Bola Bersamamu Menyenangkan, Kampret"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!b5kGXC7B!Eucq69mQ7tKxlzSdFOzQu77g1_ms0HKcvuFBxmhF1F4"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-03-ece72d11,3000441,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Ijy/[KentutNeraka]_Days_-_03_[ECE72D11].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/qcwAk/a46ee5bf81.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 04:</b> "Aku Pertaruhkan Diriku Untuk Hidup"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!6g03jLRS!nC7orrI9TIz4C67-HnNchFX71c-N6zCWdv6B6mCwG-s"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-04-f6f8af9d,3000448,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18ku/[KentutNeraka]_Days_-_04_[F6F8AF9D].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/qcwCJ/90cf8d5016.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 05:</b> "Itulah Mengapa Aku Akan Terus Berlari, Kazama"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!ipsUERTD!v4BItePxJ1AQcZ9ely_Hifyb5m9j-ka6Gs3Da0aVBqQ"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-05-67f863b1,3028364,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18kw/[KentutNeraka]_Days_-_05_[67F863B1].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/qkA6K/7f29bbd2b4.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 06:</b> "Berlari Demi Seseorang, Aku Ingin Bermain Sepak Bola Seperti itu"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!6xNAgS5Q!Hmzr4sdhbpbYaLRfbuC8-zJznT8YC4ze_ZwEoBl-X5o"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-06-c1baeda6,3072167,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/191K/[KentutNeraka]_Days_-_06_[C1BAEDA6].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/qsBTe/e5c47d0f34.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 07:</b> "Kuharap Aku Bisa Lunasi Utangku Meski Sedikit"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!CoUTBYrJ!JGhIk5Mz4F635H22txtOJabHLXDy3ebv0pitgHUewyg"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-07-33a6dc46,3072169,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1zD4/[KentutNeraka]_Days_-_07_[33A6DC46].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/qAwsI/39802c3e83.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 08:</b> "Kalau Bermain Serius, Dia Bisa Menjadi Peluru"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!n89GDQLB!KzkOsTR1TFapTjAzqRiYbYG4TTGmQHgx9EbvpOYDKJM"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-08-58c91b7c,3082111,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1AsH/[KentutNeraka]_Days_-_08_[58C91B7C].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/qIOhZ/f09fb95d6b.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 09:</b> "Aku Akan Membantumu Ke Tempat Di mana Suara Bisa Terdengar"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!jkk2gKiJ!8co8MpP2Tyz4sNqbBAFU9cC5R0vX_ZnVUZNjCfu7Vx0"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-09-e397f520,3106843,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Lci/[KentutNeraka]_Days_-_09_[E397F520].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/qRad8/049794ef1a.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 10:</b> "Rintangan Kecil Seperti Itu Tidak Akan Bisa Mengalahkanku"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!HstkVAyK!zZq0GHzEQYd9cFOHe0a0EliZnGSmKAwV4ynkj4Kx9W4"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-10-9f24a9a0,3128762,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1C1j/[KentutNeraka]_Days_-_10_[9F24A9A0].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/qZjss/8ff89c3bb6.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 11:</b> "Demi Menghubungkan Hari-hari yang Berkilau untuk Masa Depan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!jwF0HRSY!Ha3Wd8DSn72_F_GFt8YQN2NYM9ir6dAeOYWpJ4Q_IRE"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/days-398720/kentutneraka-days-11-bac4ce15,3155871,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/2sNN/[KentutNeraka]_Days_-_11_[BAC4CE15].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/r7h0D/0ae6e60ec1.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 12:</b> "Tidak Akan Aku Biarkan Siapa pun Kecewa Lagi"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!P1MwGBbD!KuUr-PkS2KnAIEHBLrURA4rcmA7UVKuMyOrlhydHPkQ"target=_blank>[Mega]</a> <a href=""target=_blank>[kbagi]</a> <a href="http://filefenix.com/1Dlt/[KentutNeraka]_Days_-_12_[6A323A2E].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/rf7n8/4c23ea39ae.zip"target=_blank>[Skrip]</a><br></span>
<hr>
&nbsp;&nbsp;<b>Days 13:</b> "Kau Hanya Harus Menatap ke Depan"<br>
&nbsp;&nbsp;720p: <a href="http://www.nyaa.se/?page=view&tid=856679"target=_blank>[Torrent]</a> <a href="https://mega.nz/#!axEymLzQ!mvmUn5867B-J6ZVgBLpzrhQ_h3APYXNFxXAkgTjQFuw"target=_blank>[Mega]</a> <a href="http://filefenix.com/1FzK/[KentutNeraka]_Days_-_13_[4E31B82A].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/ryHJ7/cda01f36ab.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 14:</b> "Berikan Segalanya Untuk Mengambil Tempatku"<br>
&nbsp;&nbsp;720p: <a href="http://www.nyaa.se/?page=view&tid=858067"target=_blank>[Torrent]</a> <a href="https://mega.nz/#!al0AlApB!FeYHQBJwW_YUdCYP7ShbY1riRujD9lF4lpahDQSdSS8"target=_blank>[Mega]</a> <a href="http://filefenix.com/8OnE/[KentutNeraka]_Days_-_14_[C861ED58].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/rCHF4/814736f6b4.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 15:</b> "Aku Pasti Tak Bisa Berada di Seiseki Lebih Lama"<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=861051"target=_blank>[Torrent]</a> <a href="https://mega.nz/#!HwU0mSQB!pX12QApjsx0T-MGsEgZDsNAKdWTbxoJT5GRPFR7FrBM"target=_blank>[Mega]</a> <a href="http://filefenix.com/4Dng/[KentutNeraka]_Days_-_15_[B2BF3D99].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/rLZ31/b46ac90f8f.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 16:</b> "Gelombang Tak Berujung yang Terus Menerjang"<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=863132"target=_blank>[Torrent]</a> <a href="https://mega.nz/#!vltBDITB!9Cov5AsGYekJolbayrQdufCKYuHJYijbFCtPpgEYD0k"target=_blank>[Mega]</a> <a href="http://filefenix.com/hf60/[KentutNeraka]_Days_-_16_[ADC25FAF].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/rSQHI/6a16d9bb9f.zip"target=_blank>[Skrip]</a><br>
<hr>
&nbsp;&nbsp;<b>Days 17:</b> "Aku Mencintai Tim Ini"<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=865440"target=_blank>[Torrent]</a> <a href="#"target=_blank>[Mega]</a> <a href="http://filefenix.com/d46o/[KentutNeraka]_Days_-_17_[B05DE30E].mkv"target=_blank>[Filefenix]</a> - <a href="http://puu.sh/s0gi5/8cb5bd7b9a.zip"target=_blank>[Skrip]</a><br>
<hr>
<br>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//kentutneraka.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>

