<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Boku dake ga Inai Machi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/releases">New Releases</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">About</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div i
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}

-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>

<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Dimension W</h1></center></th>
</tbody>
</table>
<br><center><img src="image/dw.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Translation:</strong> titidus<br> 
&nbsp;&nbsp;<strong>Timing:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Editing:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Typesetting:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Encoding:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>ED-Translation:</strong> Bismarck<br> 
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Type:</strong> TV Series<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 19 - 848x480 @ crf 23)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Japan/AAC 2.0 - 41.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 5 (of 12)<br> 
&nbsp;&nbsp;<strong>Status:</strong> ONGOING<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> Di tahun 2071, dunia sudah bebas dari keterbatasan energi setelah ditemukannya jaringan dari cross-dimensional electric-field inductors- (Coil) yang &nbsp;&nbsp;dapat mengekstrak energi dari sumber yang tampaknya tidak terbatas. Sumber itu adalah Dimensi W, dimensi keempat yang berada di atas dimensi X, Y dan Z.
<br>
&nbsp;&nbsp;Di dunia itu, coil ilegal dapat digunakan untuk kejahatan yang berada di luar kuasa polisi. Untuk mengatasi coil ilegal, pria bernama Kyouma yang sangat membenci &nbsp;&nbsp;coil, terpaksa bekerja sama dengan robot unik bertenaga coil bernama Mira.
<hr>
&nbsp;&nbsp;<b>Episode 01v2:</b> "Kolektor"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!Q15mwDja!5tp8mB4xq0zAzZWaojefzzFHx0gvtJ2nTXQEAcv4KXE"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-01v2-720p-2dee6b73,1976177,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!s5IiyYLZ!yZ8WjWrpzZyUjOiwmdB8YqBlIzfIEl65AOFfsJcoDRY"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-01v2-480p-03006e26,1976165,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 02:</b> "Loser"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!sp51ya4b!p8ciN62g1psc13qhYeMtMn0XuOOpwRoMlKX6jBIxD3s"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-02-720p-485637ee,1977101,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!tkpQRATB!QUfpmZvieMlYnqkF6lYA1y7yYafRYILDUGD12nxP-70"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-02-480p-b300f9f6,1977068,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 03:</b> "Memburu Numbers"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!8kwxVDLJ!fDMjzxEfhmFVC3A_7HV_lUZ60652vLBQYqNd1m5x418"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-03-720p-ec947d0e,2002605,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!kkwDSbyA!v3iuRL0Wzvu-rp2pr5tx--2FBrAoGEJP7NMWOuBvgyU"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-03-480p-d75be93c,2002634,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 04:</b> "Misteri Tersembunyi di Danau Yasogami"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!dlAhlB7L!Hcid1ACCaiQOnLCwZUEzizs45fEFP6513S3XdHf8kIo"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-04-720p-506feaae,2060049,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!osBAUTbZ!YWPxc3w7x_Crx1MdIbuoiAJhO6Jr4NxKUTNUDGEM6aQ"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-04-480p-9f959900,2060079,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 05:</b> "Potensi Kematian"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!ppxBHYaB!wjmPwq3aLzbMeD3limCAr0oXJgL0hvcczq09u7uTBpY"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-05-720p-18f29f81,2091741,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!k453AABS!hKAylmNvdDQBsjt-9MYptPfmnO2YAk2MGHexhyZ-BAw"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/dimension-w-271846/kentutneraka-dimension-w-05-480p-45012940,2091690,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
<hr>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//kentutneraka.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>





