<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Boku dake ga Inai Machi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/releases">New Releases</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">About</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div i
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}

-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>

<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Boku dake ga Inai Machi</h1></center></th>
</tbody>
</table>
<br><center><img src="image/erased.jpg"></center><hr>
<div id="sidebar-right">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Translation:</strong> titidus, Bismarck<br> 
&nbsp;&nbsp;<strong>Timing:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Editing:</strong> NandoL<br> 
&nbsp;&nbsp;<strong>Typesetting:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Encoding:</strong> Yatogami<br> 
&nbsp;&nbsp;<strong>QC:</strong> irzie<br> 
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Type:</strong> TV Series<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 19 - 848x480 @ crf 23)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Japan/AAC 2.0 - 41.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 10 (of 12)<br> 
&nbsp;&nbsp;<strong>Status:</strong> ONGOING<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> Menceritakan tentang Satoru Fujinuma yang mempunyai kemampuan supernatural, memungkinkan dirinya untuk mencegah kematian dan bencana di &nbsp;&nbsp;sekitarnya dengan kembali ke masa lalu yang ia namakan "Revival".
<hr>
&nbsp;&nbsp;<b>Episode 01:</b> "Kilas Balik"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!4gJDUAaI!uTvp_VBbP94GstzbB_gmffcTJ2afXduviGKJ_gu0WTU"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-01-720p-955cebbb,1940678,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!NhQwzZZZ!fTtdqkO2vqvsbysTXAmz75tc7QCEv0nM8XN3VW_S1lk">[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-01-480p-67fbe787,1940677,list,1,1.mkv">[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 02:</b> "Telapak Tangan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!pxYFESTZ!XKqN-8eiXb3-bGv-bDp6-USgshChV4_z7LkWrJkAAqg"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-02-720p-ab167928,1971812,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!ggIVwRxI!XUYaJqhfTmv-7Dhw2RGUgyGeJKcW5N77Idefjb2x3r0"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-02-480p-1bfdcca8,1971811,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 03:</b> "Tanda Lahir"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!dxxljJKT!1meofoGJkTlu936O0gfwdbt5bD0M6RiDpGwj7jmNDbw"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-03-720p-e9609546,1992049,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!044ASSjI!ue26RtQlF-xR_M_hmB23E3YdzgJzubyuFfx4c0Ak5JA">[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-03-480p-1ec711cd,1992051,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 04:</b> "Pencapaian"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!0wgWCaxa!iZPi57BK8JGC77VtF6C7pkccNc2vZBK-IRag2lUjjKQ"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-04-720p-012c3621,2039589,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!tsZXWJiC!FzYGvYpXMqFSgQ8_hdlSAuZGzbLwkvvPuk4xFyVld2Q"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-04-480p-a17d507a,2039588,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 05:</b> "Pelarian Diri"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!0go1xACK!Apz7ptDV5MCwrcshovMqs-V5F-1zp4rSbiRgM91SxW8"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-05-720p-60095cf9,2089815,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!o451yIqQ!EN59-YDF47vERe4pCuwFbE0i6owCo6ZQfPPf0kJTpJE"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-05-480p-3438a744,2089811,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 06:</b> "Dewa Kematian"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!tsRyALgQ!bFKnEBLTC8fxNd3xtlk539Cu_XSo2JlcWX7XfSyKwZ4"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-06-720p-30401e0f,2135838,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!Z4QWjDAC!b2wH6maSgZH22bE62fZJHR4R_tb3HF8I0CjLzZZJ9us"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-06-480p-a20fe072,2135781,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 07:</b> "Di Luar Kendali"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!IlwhUTzC!m3ayjh0Y0Fh-0fFvOcRu0qQtc9oIAPwV4KJ0MLNxQOo"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-07-720p-4610ad3c,2190572,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!M8wCVI7I!oET-SWHvaIoJ2x4-aijV7tdv54l-NWrVZl0e6Keiy78"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-07-480p-7a19beb2,2190570,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 08:</b> "Spiral"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!t5AzRLCC!2Z6l-Eys7Guymwp4j2xxfM_hKyCsVOCEUq7fIb--AaE"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-08-720p-9d33b5e9,2247194,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!1lZWBQRC!h75NAhjC1GynHtjFBVhufCJOFNDt4AFnF6PRqoC8egE"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-08-480p-68890f31,2247164,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 09:</b> "Penutupan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!BkRgBLLJ!J80aEEkiWVPaPmlLw3QdLKlKEEkq4XWrDY_PxrqhcIE"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-09-720p-bc5aefa1,2338394,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!VpRTyL4Z!pQrIDl_lLa_hdc0G-XiVLJFMfTjybiyWbewu6bmRFIE"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-09-480p-7d36cfcc,2338385,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 10:</b> "Kegembiraan"<br>
&nbsp;&nbsp;720p: <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fmega.nz%2F%23!4tRU0DjS!sYx9s_2Tgvj-WVXAcX31hN1QY9RqzhJx_me22w82OEc&h=pAQFn8dkc"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-10-720p-10b750db,2398149,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
&nbsp;&nbsp;480p: <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fmega.nz%2F%23!h5QCAaLY!b9dXGt6tPHEJ_71TWM2xy2Z_UMdv1pqbwYYu7Y8tlwg&h=pAQFn8dkc"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/boku-dake-ga-inai-machi-269860/kentutneraka-boku-dake-ga-inai-machi-10-480p-3457ea75,2398147,list,1,1.mkv"target=_blank>[KumpulBagi]</a><br>
<hr>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//kentutneraka.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>





