<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>Rilisan Terbaru</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

<!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}

-->
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="7%">Tanggal Rilis</th>
<th width="25%">Judul Anime</th>
<th width="10%">Kategori</th>
</tr></thead>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">03 Apr 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/souryo-to-majiwaru-shikiyoku-no-yoru-ni.htm"><b>Souryo to Majiwaru Shikiyoku no Yoru ni - 02</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">03 Apr 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/souryo-to-majiwaru-shikiyoku-no-yoru-ni.htm"><b>Souryo to Majiwaru Shikiyoku no Yoru ni - 01</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">02 Apr 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 12</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">02 Apr 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 11 & 12</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">31 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 12</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">31 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/zaregoto.htm"><b>Kubikiri Cycle - Aoiro Savant to Zaregototsukai - 05</a></div></td>
  <td><div align="left">OVA/Bluray</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">29 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 10</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">28 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 08 & 09</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">26 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 11</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>	
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">26 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - Batch</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">24 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 11</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">21 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 10</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>	
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="biru">
<td class="tanggal rilis">21 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/hinata-no-aoshigure.htm"><b>Hinata no Aoshigure</a></div></td>
  <td><div align="left">Film Layar Lebar</div></td>
</tr>	
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">20 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 10</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">18 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 10</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">15 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/www-working.htm"><b>WWW.WORKING!! - Batch</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">13 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/www-working.htm"><b>WWW.WORKING!! - 12</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">12 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 09</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">11 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 09</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">10 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 09</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">07 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 08</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">07 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/the-dragon-dentist.htm"><b>The Dragon Dentist - Batch</a></div></td>
  <td><div align="left">ONA/Spesial</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">05 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 08</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">03 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 08</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">01 Mar 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/zaregoto.htm"><b>Kubikiri Cycle - Aoiro Savant to Zaregototsukai - 04</a></div></td>
  <td><div align="left">OVA/Bluray</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">27 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 07</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">25 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 07</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">24 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 07</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">21 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/the-dragon-dentist.htm"><b>The Dragon Dentist - 01</a></div></td>
  <td><div align="left">ONA/Spesial</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">19 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 07</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">19 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 06.5</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">19 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 06</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">18 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 06</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">15 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/www-working.htm"><b>WWW.WORKING!! - 10 & 11</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">15 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 06</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">13 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 06</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">10 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 05</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">09 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/www-working.htm"><b>WWW.WORKING!! - 09</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">07 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 05</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">05 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 05</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">05 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 05</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">04 Feb 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 04</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">03 Feb 2016
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/all-out.htm"><b>All Out!! - 14 & 15</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>	
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">02 Feb 2016
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/all-out.htm"><b>All Out!! - 12 & 13</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">30 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 04</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">29 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 04</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">28 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 04</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">28 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/zaregoto.htm"><b>Kubikiri Cycle - Aoiro Savant to Zaregototsukai - 03</a></div></td>
  <td><div align="left">OVA/Bluray</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">28 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 03</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">24 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 03</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">23 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 03</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">20 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 03</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">19 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 02</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">16 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 02</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">15 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 02</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">14 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 02</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">13 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm"><b>Kuzu no Honkai - 01</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">12 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/little-witch-academia.htm"><b>Little Witch Academia - 01</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="biru">
<td class="tanggal rilis">12 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/little-witch-academia-movie.htm"><b>Little Witch Academia Movie</a></div></td>
  <td><div align="left">Film Layar Lebar</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">10 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/youjo-senki.htm"><b>Youjo Senki (Saga of Tanya the Evil) - 01</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">09 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm"><b>Interviews With Monster Girls - 01</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">08 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm"><b>Masamune-kun no Revenge - 01</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">04 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/www-working.htm"><b>WWW.WORKING!! - 08</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="biru">
<td class="tanggal rilis">02 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/the-red-turtle.htm"><b>The Red Turtle</a></div></td>
  <td><div align="left">Film Layar Lebar</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">02 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/www-working.htm"><b>WWW.WORKING!! - 07</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">01 Jan 2017
</div></td>
  <td><div align="left"><a href="http://kentutneraka.org/releases/www-working.htm"><b>WWW.WORKING!! - 06</a></div></td>
  <td><div align="left">Serial TV</div></td>
</tr>
	</tr></tbody></table>
</div>
</body></html>
<p align="center"><span class="style6"><br>
&nbsp; &nbsp;<a href="http://kentutneraka.org/releases/2016/">[Arsip 2016]&nbsp; &nbsp;</a></p></div>

