<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>New Releases</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
-->
  </style>
</head>
<body>
<div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/releases">New Releases</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">About</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div id="???" class="pure-u" data-ui-view></div>
</div>  
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

<!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}

-->
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="10%">Release Date</th>
<th width="25%">Description</th>
<th width="10%">Category</th>
</tr></thead>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Apr 07, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 09</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Apr 05, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 08</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">Apr 04, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/burst-bd.htm">Shinmai Maou no Testament BURST Vol. 4</a></div></td>
  <td><div align="left">Bluray</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Apr 02, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 07</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Apr 02, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/kagewani2.htm">Kagewani S2 - 01</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>


 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Apr 01, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 06</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr class="hijau">
<td class="tanggal rilis">Mar 28, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/aria-the-avvenire.htm">Aria The Avvenire - 02</a></div></td>
  <td><div align="left">OVA/Bluray</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Mar 26, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 12</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Mar 25, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 05</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Mar 25, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 04</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Mar 21, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 11</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Mar 18, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 10</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">Mar 14, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/burst-bd.htm">Shinmai Maou no Testament BURST Vol. 3</a></div></td>
  <td><div align="left">Bluray</div></td>
</tr>


 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Mar 10, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 09</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>


<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Mar 09, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/one-outs.htm">One Outs - TV Batch</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Mar 08, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 03</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">Mar 06, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/prison-school-ova.htm">Prison School OVA - 1</a></div></td>
  <td><div align="left">OAD/OVA</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 28, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/dimension-w.htm">Dimension W - 07</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 28, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/dimension-w.htm">Dimension W - 06</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 28, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 08</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 23, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 02</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 20, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 07</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 20, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/rainbow-days.htm">Rainbow Days - 01</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 14, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 06</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 08, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/dimension-w.htm">Dimension W - 05</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 08, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 05</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">Feb 07, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/burst-bd.htm">Shinmai Maou no Testament BURST Vol. 2</a></div></td>
  <td><div align="left">Bluray</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">Feb 04, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/burst-ova.htm">Shinmai Maou no Testament BURST - OVA</a></div></td>
  <td><div align="left">OVA/Bluray</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Feb 03, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/dimension-w.htm">Dimension W - 04</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>
 
 <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Jan 30, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 04</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Jan 25, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/dimension-w.htm">Dimension W - 03</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

 <!-- tanda -->
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Jan 23, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 03</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Jan 20, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/dimension-w.htm">Dimension W - 02</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Jan 18, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 02</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Jan 15, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/dimension-w.htm">Dimension W - 01</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="biru">
<td class="tanggal rilis">Jan 13, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/ajin-movie.htm">Ajin Part 1 Shoudou</a></div></td>
  <td><div align="left">Movie</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Jan 12, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/erased.htm">Boku dake ga Inai Machi - 01</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="">
<td class="tanggal rilis">Jan 03, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/sakurako.htm">A Corpse is Buried Under Sakurako's Feet - 12</a></div></td>
  <td><div align="left">TV Series</div></td>
</tr>

  <!-- tanda -->
<tr class="hijau">
<td class="tanggal rilis">Jan 02, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/aria-the-avvenire.htm">Aria The Avvenire - 01</a></div></td>
  <td><div align="left">OVA/Bluray</div></td>
</tr>

  <!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<tr class="hijau">
<td class="tanggal rilis">Jan 01, 2016
</div></td>
  <td><div align="left"><a href="http://www.kentutneraka.org/releases/burst-bd.htm">Shinmai Maou no Testament BURST Vol. 1</a></div></td>
  <td><div align="left">Bluray</div></td>
</tr>
</tr></tbody></table>
</div>
</body></html>
<p align="center"><span class="style6"><br>
☭ KentutNeraka - Anime Fansubs Indonesia.<br>
Illegal © 2013 - 2016 </a></p></div>
