<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Interviews With Monster Girls</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}
-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Interviews With Monster Girls</h1></center></th>
</tbody>
</table>
<br><center><img src="image/demi.png"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Penerjemah:</strong> Alexia<br> 
&nbsp;&nbsp;<strong>Penyunting/Penata Rias:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Pengolah Video:</strong> Yatogami<br>  
&nbsp;&nbsp;<strong>OPED:</strong> Bismarck<br>
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Kategori:</strong> Serial TV<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 18)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Jepang/AAC 2.0 - 44.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 7 (dari 12)<br> 
&nbsp;&nbsp;<strong>Status:</strong> Sedang Berjalan<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<b>Episode 01:</b> Tetsuo Takahashi Ingin Bercakap<br>
&nbsp;&nbsp;Unduh: <a href="https://www.nyaa.se/?page=view&tid=887587"target=_blank>[Torrent]</a> <a href="http://filefenix.com/4W1m/[KentutNeraka]_Interviews_With_Monster_Girls_-_01_[E6BA038F].mkv"target=_blank>[Filefenix]</a> <a href="http://kbagi.com/rakaosd/interviews-with-monster-girls-486158/list,1,1"target=_blank>[kbagi]</a> - <a href="http://puu.sh/tnkQT/b93720954e.zip"target=_blank>[Skrip]</a>
<hr>
&nbsp;&nbsp;<b>Episode 02:</b> Dullahan Ingin Dimanja<br>
&nbsp;&nbsp;Unduh: <a href="https://www.nyaa.se/?page=view&tid=889629"target=_blank>[Torrent]</a> <a href="http://filefenix.com/993z/[KentutNeraka]_Interviews_With_Monster_Girls_-_02_[3257FFEF].mkv"target=_blank>[Filefenix]</a> <a href="http://kbagi.com/rakaosd/interviews-with-monster-girls-486158/list,1,1"target=_blank>[kbagi]</a> - <a href="http://puu.sh/tnkOI/7778858e96.zip"target=_blank>[Skrip]</a>
<hr>
&nbsp;&nbsp;<b>Episode 03:</b> Succubus adalah Wanita Baik<br>
&nbsp;&nbsp;Unduh: <a href="https://www.nyaa.se/?page=view&tid=892298"target=_blank>[Torrent]</a> <a href="http://filefenix.com/4Yk7/[KentutNeraka]_Interviews_With_Monster_Girls_-_03_[3C3506F7].mkv"target=_blank>[Filefenix]</a> <a href="http://kbagi.com/rakaosd/interviews-with-monster-girls-486158/list,1,1"target=_blank>[kbagi]</a> - <a href="http://puu.sh/twLsn/b69f15390d.zip"target=_blank>[Skrip]</a>
<hr>
&nbsp;&nbsp;<b>Episode 04:</b> Tetsuo Takahashi Ingin Melindungi<br>
&nbsp;&nbsp;Unduh: <a href="https://www.nyaa.se/?page=view&tid=894592"target=_blank>[Torrent]</a> <a href="http://filefenix.com/4Zb0/[KentutNeraka]_Interviews_With_Monster_Girls_-_04_[57092C29].mkv"target=_blank>[Filefenix]</a>  <a href="http://kbagi.com/rakaosd/interviews-with-monster-girls-486158/list,1,1"target=_blank>[kbagi]</a> - <a href="http://puu.sh/tGTkd/54163eed49.zip"target=_blank>[Skrip]</a>
<hr>
&nbsp;&nbsp;<b>Episode 05:</b> Perempuan Salju itu Dingin<br>
&nbsp;&nbsp;Unduh: <a href="https://www.nyaa.se/?page=view&tid=897009"target=_blank>[Torrent]</a> <a href="http://filefenix.com/doM1/[KentutNeraka]_Interviews_With_Monster_Girls_-_05_[CF826BCE].mkv"target=_blank>[Filefenix]</a>  <a href="http://kbagi.com/rakaosd/interviews-with-monster-girls-486158/list,1,1"target=_blank>[kbagi]</a> - <a href="http://puu.sh/tSfHN/ba204049bd.zip"target=_blank>[Skrip]</a>
<hr>
&nbsp;&nbsp;<b>Episode 06:</b> Takanashi Bersaudara Tidak Bertengkar<br>
&nbsp;&nbsp;Unduh: <a href="https://www.nyaa.se/?page=view&tid=900738"target=_blank>[Torrent]</a> <a href="http://filefenix.com/52nd/[KentutNeraka]_Interviews_With_Monster_Girls_-_06_[B7B53B01].mkv"target=_blank>[Filefenix]</a>  <a href="http://kbagi.com/rakaosd/interviews-with-monster-girls-486158/list,1,1"target=_blank>[kbagi]</a> - <a href="http://puu.sh/u9RiO/c9e6fcd76a.zip"target=_blank>[Skrip]</a>
<hr>	
&nbsp;&nbsp;<b>Episode 07:</b> Succubus yang Melit<br>
&nbsp;&nbsp;Unduh: <a href="https://www.nyaa.se/?page=view&tid=902380"target=_blank>[Torrent]</a> <a href=""target=_blank>[Filefenix]</a>  <a href="http://kbagi.com/rakaosd/interviews-with-monster-girls-486158/list,1,1"target=_blank>[kbagi]</a> - <a href="http://puu.sh/uhN6J/92e7797404.zip"target=_blank>[Skrip]</a>
<hr>
<br>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//kentutneraka.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>
