<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Kabaneri of the Iron Fortress</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/releases">New Releases</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">About</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div i
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}

-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Kabaneri of the Iron Fortress</h1></center></th>
</tbody>
</table>
<br><center><img src="image/kabaneri.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Translation:</strong> NandoL<br> 
&nbsp;&nbsp;<strong>Timing:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Editing:</strong> Switch<br> 
&nbsp;&nbsp;<strong>Typesetting:</strong>rakaosd<br> 
&nbsp;&nbsp;<strong>Encoding:</strong> Yatogami<br>  
&nbsp;&nbsp;<strong>QC:</strong> irzie, rakaosd<br>
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Type:</strong> TV Series<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 19 - 848x480 @ crf 23)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Japan/AAC 2.0 - 41.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 3 (of 12)<br> 
&nbsp;&nbsp;<strong>Status:</strong> ONGOING<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> 
<hr>
&nbsp;&nbsp;<b>Episode 01:</b> "Kengerian Mayat"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!88RhxCAA!PiYMmMbRPYiywiwhZJEe0lSYAUIuEQ027sEt6bs-Q0o"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-01v2-720p-17bbaa1f,2619500,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/pmh7w7ffdx4s"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!dhZUTLYY!MJlygpMhyQyEXJTGK-VSrolngq7CmIDbM4Q_hi0jS44"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-01v2-480p-51528d28,2619466,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/ao9jslxewdne"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 02:</b> "Malam yang Tak Berujung"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!FgZngKyL!q2g6Le5eX6n4I7JB2iQuBagV9QPwcHZYkcLTiGiN16E"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-02-720p-1dfc836e,2663686,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/3wcn4xkjmejz"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!VkQUhRDJ!qZ5hz0zNz3bl9hurQuOiEV0ULnEGrObeWB-Xs4IGFVQ"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-02-480p-44135588,2663683,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/b8wzntiuy6ml"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 03:</b> "Doa Persembahan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!J14nFJKZ!CoiKeKIn_yCkoS8v6DyJI9O7--eAHKbRPW1NE4nD0BE"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-03-720p-706c7f69,2711763,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/czsstuosy5o7"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!Bo4BWKSZ!leWAr3qSs_iqvybvyGVZ8EiwKR66bWyS7QgWakQPkUs"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-03-480p-3e55a4b0,2711761,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/3besmh7m79yc"target=_blank>[Usersfiles]</a><br>
<hr>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//kentutneraka.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>





