<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Kabaneri of the Iron Fortress</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/releases">New Releases</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">About</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div i
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}

-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Kabaneri of the Iron Fortress</h1></center></th>
</tbody>
</table>
<br><center><img src="image/kabaneri.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Translation:</strong> NandoL<br> 
&nbsp;&nbsp;<strong>Timing/Typesetting:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Editing:</strong> Switch<br> 
&nbsp;&nbsp;<strong>Encoding:</strong> Yatogami<br>  
&nbsp;&nbsp;<strong>QC:</strong> irzie, rakaosd<br>
&nbsp;&nbsp;<strong>ED-Translation:</strong> Switch, <a href="http://dreamslandlyrics.blogspot.co.id/2016/04/suneohair-nakushita-hibi-ni-sayonara-lyrics.html"target=_blank>Nakari Amane</a><br>
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Type:</strong> TV Series<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 19 - 848x480 @ crf 23)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Japan/AAC 2.0 - 41.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 12 (of 12)<br> 
&nbsp;&nbsp;<strong>Status:</strong> FINISHED<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> *Akan segera diperbaharui.
<hr>
&nbsp;&nbsp;<a id="show_unduh" onclick="document.getElementById('spoiler_unduh').style.display=''; document.getElementById('show_unduh').style.display='none';" class="link">Download Single Episodes</a><span id="spoiler_unduh" style="display: none"><a onclick="document.getElementById('spoiler_unduh').style.display='none'; document.getElementById('show_unduh').style.display='';" class="link">[-]Download Single Episodes</a><br><br>
&nbsp;&nbsp;<b>Episode 01:</b> "Kengerian Mayat"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!5wYnGIJK!v3AR_ChIUEq0Unm_IjzBu6zu6r9yVsTeDA9c0WLOGP4"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-01v2-720p-17bbaa1f,2619500,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/e1d9kr187o7w"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!t0oxQJKK!UEjsqatBzEkgXujN-j6Rd6tFX3zoMn9s-oA0ax1rUG8"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-01v2-480p-51528d28,2619466,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/nfypdbec4flq"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 02:</b> "Malam yang Tak Berujung"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!8hZ3VLQb!uYIzq5KftXFe4g848pxoNpCpB2PMfEpU4nJB5ZGyfo0"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-02-720p-1dfc836e,2663686,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/ijvxkqizpy1e"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!Y1IG0AbS!UrpVE7BQ4oLDhJrCBi0GSipFvg5jwd6ywN0uMulg1aA"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-02-480p-44135588,2663683,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/pd2px2nnxrw3"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 03:</b> "Doa Persembahan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!I1ohRTIK!CeDi-pTxpnO_t-DyI1XJCWz-P7vqrbsDhjSRLXMiHq8"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-03-720p-706c7f69,2711763,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/aeapouxnpw5t"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!Vs4TwBAQ!rv8l1lFzzNjHPcZWSJAusM5tCkSq3BkwKB-c4jKY55c"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-03-480p-3e55a4b0,2711761,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/wil7l3dck18x"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 04:</b> "Darah yang Mengalir"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!k04hAJhC!Y5DutA1jygnu8LWv1HrmJLm1xDae_VUKlSoJk8ILPIU"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-04-720p-613627ae,2740904,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/4pyrmtcq00sz"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!toxz1SrQ!dZxo0igDkhesVgqkgqYjnfIxQJJ4dC3jgIiTaZwR9DQ"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-04-480p-f8321423,2740905,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/s17k6ns9sovr"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 05:</b> "Kegelapan yang Tak Terelakkan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!Z4I20AAR!-MMql9Qj1GokhufNKpmjYixVRVq1WEV7a6Yo28CT_Do"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-05-720p-c5732448,2749652,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/u82xly8e5qjp"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!xgZ0zKTJ!mYoe_l-seb763llDT0SAB2iVo1ERWOAhNz2nmyvbQdc"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-05-480p-ad98fad6,2749646,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/1jse2uljalxd"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 06:</b> "Cahaya yang Berkumpul"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!1tgjhDxZ!_fxuhmmhSn69vJkRsuB5ecA0GuCsCaPfYHRURFTX6Dg"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-06-720p-6f27d2de,2770112,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/60rfyng4x6th"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!FlxFkA4A!KBjrxAN5GWXs6HSQK9WDuaIupMErN6y62oG6COxfqqw"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-06-480p-134176f4,2770111,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/kzjkbhx8bi91"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 07:</b> "Doa Untuk Surga"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!9wQV3TiD!QsQ7BPValPGB8JQdWr46QK8fhWLIn4bWE2rBj-HI9W4"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-07-720p-f926fdaa,2894981,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/b81qg7ugyakg"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!B9JkkZJQ!nByvwCyL940ZTlFVvNaceQj-Dqb46XH1EW3WATfsFc8"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-07-480p-9e697def,2892590,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/7p0y191y4jdq"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 08:</b> "Pemburu Tenang"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!ogJHDSAa!NPBIjfHe7NqrHFzNBm7l7G_YesjoA2XcUhcaPXxIJFs"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-08-720p-87097772,2894983,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/nbbzjamblagb"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!Z0gBXQhD!UwVWIHiDH5GYcLQiSZOlF6U_9oeepsz0AE74ho7eyIA"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-08-480p-03e61978,2894982,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/y6usyptzxri4"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 09:</b> "Taring Kehancuran"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!M84h3TyK!U6wJcyt2smnN17N2M5k6vyo8a3-M5iw91qGcX-YvNQU"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-09-720p-8dfccd13,2894985,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/i9a4f9tbfaas"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!o8QRUKrY!FqbVkqRxEstt-NSb2n2kuYvj9LcUDrvKZbfHJzy26Do"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-09-480p-85f2efe2,2894984,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/cal765pehkmt"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 10:</b> "Pemberontakan Kaum Lemah"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!w5hwmCZb!GdZaceYpaaBJ88RhG72IRyz-Ms6aLCOSZBtC4E4YkRo"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-10-720p-89c94998,2972957,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/j3rd8mgwp3ta"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!B4AyVZAa!jSq1gIUv2_SQZ5VN3xH97_u5ikdatftrNvJuztqHyMo"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-10-480p-980c7e2b,2972955,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/xuk9oqhum084"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 11:</b> "Jiwa yang Terbakar"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!xhpRzYBB!qrrKw9Z527SvqNPYsZ_xLmSbh_QRzBux7LJC33D-Pz4"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-11-720p-17caff46,2972960,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/vnmvqhtcaedv"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!RlhnRQKS!TNvO_HBBNlUPDoqRSTEgL8z8cLua4WDsr74a493MZ9U"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-11-480p-1d4ace19,2972958,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/zcwjsnp0fndv"target=_blank>[Usersfiles]</a><br>
<br>
&nbsp;&nbsp;<b>Episode 12:</b> "Benteng Besi"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!osRShaBK!gNmg7ytPYEcqucy0hSU8UCrNWUmNEfltvNokttUdRIw"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-12-720p-7f07ed9e,2972970,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/cna0cfcngfsv"target=_blank>[Usersfiles]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!NoJGRb6I!sior-7jCloWNpS2kjajskXZ4L1GDNAx12v2-z6msEjo"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/kn-lokal-kabaneri-of-the-iron-fortress-12-480p-c94eeefe,2972968,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/ymf6jwylv3fo"target=_blank>[Usersfiles]</a><br></span>
<hr>
&nbsp;&nbsp;<a id="show_unduh_batch" onclick="document.getElementById('spoiler_unduh_batch').style.display=''; document.getElementById('show_unduh_batch').style.display='none';" class="link">Download Batches</a><span id="spoiler_unduh_batch" style="display: none"><a onclick="document.getElementById('spoiler_unduh_batch').style.display='none'; document.getElementById('show_unduh_batch').style.display='';" class="link">[-] Download Batches</a><br> 
&nbsp;&nbsp;<b>Download:</b> <a href="https://mega.nz/#F!1hBm2CBa!nNzAir69LUiuhlWKGUhSmA"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/kabaneri-of-the-iron-fortress-352795/list,1,1"target=_blank>[KumpulBagi]</a> <a href="https://usersfiles.com/go/8dt58w677wb8"target=_blank>[Usersfiles]</a></span>
<hr>
&nbsp;&nbsp;<a id="show_patch" onclick="document.getElementById('spoiler_patch').style.display=''; document.getElementById('show_patch').style.display='none';" class="link">Patches</a><span id="spoiler_patch" style="display: none"><a onclick="document.getElementById('spoiler_patch').style.display='none'; document.getElementById('show_patch').style.display='';" class="link">[-] Patches</a><br> 
&nbsp;&nbsp;<b>eps 01v3, 02-09v2:</b> <a href="http://puu.sh/q4szC/693cf2dbf2.7z"target=_blank>[720p]</a> <a href="http://puu.sh/q4sAk/d4f431982a.7z"target=_blank>[480p]</a></span>
<hr>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//kentutneraka.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>





