<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Masou Gakuen HxH</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/releases">New Releases</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">About</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div i
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}
-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Masou Gakuen HxH</h1></center></th>
</tbody>
</table>
<br><center><img src="image/hxh.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Translation:</strong>Bismarck<br> 
&nbsp;&nbsp;<strong>Timing:</strong> Bismarck<br> 
&nbsp;&nbsp;<strong>Editing:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Typesetting:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Encoding:</strong> Yatogami<br>  
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Type:</strong> TV Series<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit 1280x720 @ crf 19 / 848x480 @ crf 23<br>
&nbsp;&nbsp;<strong>Audio:</strong> Japan/AAC 2.0 - 48.00 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 4 (of 12)<br> 
&nbsp;&nbsp;<strong>Status:</strong> ONGOING<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> *Akan segera diperbaharui.
<hr>
&nbsp;&nbsp;<b>Episode 01:</b> "Akademi Taktik Pertahanan - Ataraxia"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!k8JlyTAJ!eO52qaQNbb3IBHYvL6wUb_0U-naZnl6fIQuGYFLxtwU"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/masou-gakuen-hxh-400317/kentutneraka-masou-gakuen-hxh-01-720p-fefcd534,2939227,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="http://filefenix.com/18hO/[KentutNeraka]_Masou_Gakuen_HxH_-_01_[720p]_[FEFCD534].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!UtRhWARD!JTSK9GOt_5dGmNPSiOEPnc7zTi0Zxb37LGD5pj9OurI"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/masou-gakuen-hxh-400317/kentutneraka-masou-gakuen-hxh-01-480p-c04588e5,2939228,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="http://filefenix.com/18hL/[KentutNeraka]_Masou_Gakuen_HxH_-_01_[480p]_[C04588E5].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 02:</b> "Jalin Batin - Heart Hybrid"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!1gZjHTpS!BLU8tH8izE2Bh3n0DhfrKhmCp-4oVHKW9F9seD0WWtY"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/masou-gakuen-hxh-400317/kentutneraka-masou-gakuen-hxh-02-720p-2a21c606,2961354,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="http://filefenix.com/18hR/[KentutNeraka]_Masou_Gakuen_HxH_-_02_[720p]_[2A21C606].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!s55izIBZ!1r6NazHMGyKr-J5fuILflQ_o-tnBghxl5081IXI-hmo"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/masou-gakuen-hxh-400317/kentutneraka-masou-gakuen-hxh-02-480p-8a83f2d7,2961355,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="http://filefenix.com/18hQ/[KentutNeraka]_Masou_Gakuen_HxH_-_02_[480p]_[8A83F2D7].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 03:</b> "Hari-hari yang Tenang - Memories"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!FppzgRjT!5VsZBfcdXHnD5VXHkZyATDFEJ8hGmGimP5EFNTGwwbM"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/masou-gakuen-hxh-400317/kentutneraka-masou-gakuen-hxh-03-720p-76b1be95,2999769,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="http://filefenix.com/18hT/[KentutNeraka]_Masou_Gakuen_HxH_-_03_[720p]_[76B1BE95].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!hwA3HZwT!Uk4_na2ST-AmHZbtjSfYccmqlVZQJCe5BfGlnIlCc5Y"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/masou-gakuen-hxh-400317/kentutneraka-masou-gakuen-hxh-03-480p-ef7660e5,2999770,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="http://filefenix.com/18hS/[KentutNeraka]_Masou_Gakuen_HxH_-_03_[480p]_[EF7660E5].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 04:</b> "Klimaks Batin - Climax Hybrid"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!M0BCmKyK!4c7g5axzafVGZUJPBneXzI0x18Pjj5G9Tdoeo6cyNKU"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/masou-gakuen-hxh-400317/kentutneraka-masou-gakuen-hxh-04-720p-0dbde770,3026954,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="http://filefenix.com/Ihk/[KentutNeraka]_Masou_Gakuen_HxH_-_04_[720p]_[0DBDE770].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!E0pUVRjA!dNwHXF-Z_PBLEXg8moQDg2QWJ54MJkZbBcWdJv8LDLk"target=_blank>[Mega]</a> <a href="http://kumpulbagi.id/rakaosd/masou-gakuen-hxh-400317/kentutneraka-masou-gakuen-hxh-04-480p-060fc3f4,3026949,list,1,1.mkv"target=_blank>[KumpulBagi]</a> <a href="http://filefenix.com/Ihj/[KentutNeraka]_Masou_Gakuen_HxH_-_04_[480p]_[060FC3F4].mkv"target=_blank>[Filefenix]</a><br>
<hr>
<br>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//kentutneraka.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>

