<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Orange</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}
-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Orange</h1></center></th>
</tbody>
</table>
<br><center><img src="image/orange.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Penerjemah:</strong>Calutak<br> 
&nbsp;&nbsp;<strong>Penyunting:</strong> Yupina<br> 
&nbsp;&nbsp;<strong>Penata Rias:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Pengolah Video:</strong> Yatogami<br>  
&nbsp;&nbsp;<strong>Penyelaras Akhir:</strong> irzie<br>
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Kategori:</strong> Serial TV<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 19 - 848x480 @ crf 23)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Jepang/AAC 2.0 - 41.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 7 (dari 13)<br> 
&nbsp;&nbsp;<strong>Status:</strong> Sedang BerjalanG<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> *Akan segera diperbaharui.
<hr>
&nbsp;&nbsp;<b>Surat 01:</b><br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!6wUjybxC!98211sLD0rmhtcS3YpAMskTqxL14csuhi6Rudb-L9iY"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-01-720p-dbede025,2931989,gallery,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18hB/[BLAST]_Orange_-_01_[720p]_[DBEDE025].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!H00VADZA!127PYC_I_zGtRjfg8u7l6B2RbfoliHJh0dqtZ5TEg2g"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-01-480p-480b6e5a,2931995,gallery,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18hz/[BLAST]_Orange_-_01_[480p]_[480B6E5A].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Surat 02:</b><br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!i1V1hQqS!tLoUC3FuuSnSWF930H0CWq56HXcsfVOasXsxhuIsaic"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-02-720p-78a7b507,2955622,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18hF/[BLAST]_Orange_-_02_[720p]_[78A7B507].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!OsMm0Ara!QFiNCzHOgBAPfZdMo8Vw54Ur9p1CeI3uGuq4KkksmWQ"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-02-480p-4f1ae6a5,2955623,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18hD/[BLAST]_Orange_-_02_[480p]_[4F1AE6A5].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Surat 03:</b><br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!uh1hwRSK!Ar9DF6eb-dcWpJwgKov1jqApKtP0HxzdyiheRFmNxBc"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-03-720p-43a8e9ed,2997570,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18hJ/[BLAST]_Orange_-_03_[720p]_[43A8E9ED].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!y8FQxAqS!VTQFp9O4DrXfSKsfwB_pARLRCix0rHVL9v91KtFSpB4"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-03-480p-717665d0,2997572,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18hH/[BLAST]_Orange_-_03_[480p]_[717665D0].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Surat 04:</b><br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!Pk0kQTCC!pWKx5iwWBhcvwrIuz6SuGeqdiKRS9THAdDHrCd6zEtE"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-04-720p-f545216f,3027059,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18ix/[BLAST]_Orange_-_04_[720p]_[F545216F].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!7wEBCKCT!kVY_V05ODyB08GenQAmHNUUTF1MqcOAl8jTJe3Pv69o"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-04-480p-72cc000a,3030866,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18oI/[BLAST]_Orange_-_04_[480p]_[72CC000A].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Surat 05:</b><br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!2oEjFQhJ!cOm5263PZYjaajZjo4elFVK_HJKvgliREVIJ9kIbp1A"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-05-720p-143500f5,3043378,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1YM6/[BLAST]_Orange_-_05_[720p]_[143500F5].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!vksC2CAB!t5F1CablVHVwvATNNZgmK9tZDu_6S8A9zy6rRoAi3jc"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-05-480p-4e207c65,3043380,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1YM5/[BLAST]_Orange_-_05_[480p]_[4E207C65].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Surat 06:</b><br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!essXFA4Z!onTCF9G_5u3k-TyGbLKIN9CyNRpqjuzAsbGvLl8MVT8"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-06-720p-701517ed,3077247,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Kfj/[BLAST]_Orange_-_06_[720p]_[701517ED].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!Loc0mSoL!uAs2VpJu7OhYCbzLagm6uljWK9ZtrYSVLueuo_7Bh3U"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-06-480p-0bc35ddc,3077246,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Kfi/[BLAST]_Orange_-_06_[480p]_[0BC35DDC].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Surat 07:</b><br>
&nbsp;&nbsp;720p: <a href="#"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-07-720p-c8fe0fbb,3093355,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/20J8/[BLAST]_Orange_-_07_[720p]_[C8FE0FBB].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="#"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/orange-399421/blast-orange-07-480p-6abad7ea,3093356,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/20J7/[BLAST]_Orange_-_07_[480p]_[6ABAD7EA].mkv"target=_blank>[Filefenix]</a><br>
<hr>
<br>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//kentutneraka.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>
