<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Qualidea Code</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}
-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Qualidea Code</h1></center></th>
</tbody>
</table>
<br><center><img src="image/qcode.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Penerjemah:</strong> irzie<br> 
&nbsp;&nbsp;<strong>Penyunting:</strong> Bismarck<br> 
&nbsp;&nbsp;<strong>Penata Rias:</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Pengolah Video:</strong> alphonse<br>  

</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Kategori:</strong> Serial TV<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 19 - 848x480 @ crf 23)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Jepang/AAC 2.0 - 41.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 8 (dari 12)<br> 
&nbsp;&nbsp;<strong>Status:</strong> Sedang Berjalan<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> Potong bebek angsa, masak di-QUALI. Nona minta dansa, dansa di-QUALI. Sorong ke kiri modar, sorong ke kanan modar. 
<hr>
&nbsp;&nbsp;<b>Code 01:</b> "Mempertahankan Gloria Dunia"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!e4k1HQJI!JQ_bfRSxcN_3icq4w6f7Jl-CwAKhnHfKxdN1kxAJkec"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-01-720p-7e8d8ad3,2952932,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18bu/[KentutNeraka]_Qualidea_Code_-_01_[720p]_[7E8D8AD3].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!mtNwSb4B!pTjDYbigYyVWUGesnnQ5RqTwGo1VpVpWeJim_eNFpOw"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-01-480p-64f96a46,2952785,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Iaw/[KentutNeraka]_Qualidea_Code_-_01_[480p]_[64F96A46].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 02:</b> "Karikatur Biru"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!zx1EhZTJ!zl4zZa3gsSLymP3pW_9faha0YdC8iLDW1f2YVft5Rrg"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-02-720p-084d2463,2990461,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Ia0/[KentutNeraka]_Qualidea_Code_-_02_[720p]_[084D2463].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!P0tHFaSI!S7Jjq5TR1wteqSn5jzbP84fP0eqpmgGHuzk9CiL_2Xs"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-02-480p-d0356300,2990460,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Ia1/[KentutNeraka]_Qualidea_Code_-_02_[480p]_[D0356300].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 03:</b> "Kesunyian Aria"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!G0NE3QTS!6vTL-KznoL7xbekJwAdzJ8I97cWTsNUQ9DVOPl1nLeI"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-03-720p-5065a2ca,3022732,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/I7y/[KentutNeraka]_Qualidea_Code_-_03_[720p]_[5065A2CA].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!alNkFKra!a6wV3IOrzQZye-YcitQRqebfmps0nCGE1UfP9Yry-18"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-03-480p-1eb05c40,3022634,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/I7w/[KentutNeraka]_Qualidea_Code_-_03_[480p]_[1EB05C40].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 04:</b> "Canaria di Tambang Batu Bara"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!u1U2lKCZ!8trc84sqWMoPDPxmGtwix6iKE8L-9ir5wcwVoaYUDLg"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-04-720p-0e2f733e,3045515,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/18O2/[KentutNeraka]_Qualidea_Code_-_04_[720p]_[0E2F733E].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!nkFDxb5J!_cLQlbN_h8IV7_xng-jClEce8Yey1lN2yt8H9ASQ-p4"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-04-480p-f6a94732,3045569,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/2oQA/[KentutNeraka]_Qualidea_Code_-_04_[480p]_[F6A94732].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 05:</b> "Putri Kecil Regalia"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!fpEwUYbB!4InS_Nl05AP8dBiDBku6p67JQ9L4cRz5fjEtdQXU7w8"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-05-720p-2692e55e,3050039,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/J3r/[KentutNeraka]_Qualidea_Code_-_05_[720p]_[2692E55E].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!P1kGFA4J!5rUMdBw2qTj4e_pYdfj0kNbMU9yqxQqdVBNJ734nWR8"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-05-480p-8eb84960,3050026,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/J3p/[KentutNeraka]_Qualidea_Code_-_05_[480p]_[8EB84960].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 06:</b> "Memoria Keselamatan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!Ox0iFKiL!gqMexiOfx1Q53oK67xlkgdNTTS0RdiCsp1BOk0-1Mco"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-06-720p-ef49ca71,3062104,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1ZE4/[KentutNeraka]_Qualidea_Code_-_06_[720p]_[EF49CA71].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!qsslUIpK!cIfrnhAmGgkA4isB3iH4inhqmolMV1jNNDSU2FBSAt8"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-06-480p-a5e768c0,3062069,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1ZE5/[KentutNeraka]_Qualidea_Code_-_06_[480p]_[A5E768C0].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 07:</b> "Paranoia Penyelamatan"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!joF2gI6Y!7iRB05eR2dvnRxSe9N7osay9VIWk23WjvUY52AvcoE8"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-07-720p-7b8294dc,3087383,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/20D4/[KentutNeraka]_Qualidea_Code_-_07_[720p]_[7B8294DC].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!qwNCnKKL!kQES9oAbb5hwP4wdqHptv0j36ycaKkdkTZgEoC22koo"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-07-480p-a3d5ae30,3087230,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/20CD/[KentutNeraka]_Qualidea_Code_-_07_[480p]_[A3D5AE30].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 08:</b> "Keberadaan Qualia"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!W11Tka4Y!HicjNST2eij8seDmsTu_b-s0wXSX9BzPNrSZoC1qyLE"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-08-720p-c83e494d,3136998,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1CiA/[KentutNeraka]_Qualidea_Code_-_08_[720p]_[C83E494D].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!i0tn1aCB!fh3oiIpCibd8ZoKEgjMjI4nCNfaV9qahFmXHjiVg7jU"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-08-480p-34f69a8a,3136904,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1CiH/[KentutNeraka]_Qualidea_Code_-_08_[480p]_[34F69A8A].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 09:</b> "Ide Melarikan Diri"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!PchQFCRK!PZiro5l7A_qv0ZzkrL1oRCEupeKMKOlkTzADC70NkUE"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-09-720p-47e62350,3145249,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Mvy/[KentutNeraka]_Qualidea_Code_-_09_[720p]_[47E62350].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!3MJW0JgL!4dd8ImCyybW-oDylH8_aLuBTy55R9BmkHtyAms2alIk"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-09-480p-a149689e,3145216,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/Mx3/[KentutNeraka]_Qualidea_Code_-_09_[480p]_[A149689E].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 10:</b> "Catatan Folklore"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!vJAnWIaD!bW-hEr5Sv31omtC-DEFX8V8KnCzJaZXBdO9xtXDQbpQ"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-10-720p-2a3a1a10,3212863,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1E2J/[KentutNeraka]_Qualidea_Code_-_10_[720p]_[2A3A1A10].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!ScwG0bRT!DnaeDStnuBJ1a_x1LnwPPSVPU9ew47DGBewSQeMNRz4"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-10-480p-6358362f,3212929,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1E2C/[KentutNeraka]_Qualidea_Code_-_10_[480p]_[6358362F].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 11:</b> "Dipole Familia"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!CcpDBaLQ!muNQ31Memf5QLAv7z-vCmfOWprmhnI8sp2ekWCeDRV0"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-11-720p-b9db9fa2,3214703,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/O16/[KentutNeraka]_Qualidea_Code_-_11_[720p]_[B9DB9FA2].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!SYI1HBwK!CTAZ8hoZjq512QFJrD1mnm_yTIcGWESEIZF5p0bH44Y"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-11-480p-d8836f14,3212977,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/1E2N/[KentutNeraka]_Qualidea_Code_-_11_[480p]_[D8836F14].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Code 12:</b> "Semarak Dunia Qualidea"<br>
&nbsp;&nbsp;720p: <a href="https://mega.nz/#!jUoEmBIT!WCaCwSQtHaIuoMdtR2MgwGWFV7BXUOiCkcqVD3TcTjw"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-12-720p-fb380242,3240457,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/24Jv/[KentutNeraka]_Qualidea_Code_-_12_[720p]_[FB380242].mkv"target=_blank>[Filefenix]</a><br>
&nbsp;&nbsp;480p: <a href="https://mega.nz/#!uFBRkKKQ!DT3p5B1SHhn8_iixLvzC0VyASlvGDk01unhvfOEpdmk"target=_blank>[Mega]</a> <a href="http://kbagi.com/rakaosd/qualidea-code-402211/kentutneraka-qualidea-code-12-480p-eaf03902,3240410,list,1,1.mkv"target=_blank>[kbagi]</a> <a href="http://filefenix.com/24Jw/[KentutNeraka]_Qualidea_Code_-_12_[480p]_[EAF03902].mkv"target=_blank>[Filefenix]</a><br>
<hr>
<br>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//kentutneraka.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>
