<!DOCTYPE html>
<html lang="en" data-ng-app="kentutneraka">
<head>
  <title>Shuumatsu no Izetta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}
-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:500px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent
url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left
top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>


<body><div id="???" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><center><h1>Shuumatsu no Izetta</h1></center></th>
</tbody>
</table>
<br><center><img src="image/izetta.jpg"></center><hr><div id="sidebar-right">
<div id="sidebar" class="sidebar section"> 
&nbsp;&nbsp;<strong>Penerjemah:</strong> Bismarck<br> 
&nbsp;&nbsp;<strong>Penyunting/Penata Rias</strong> rakaosd<br> 
&nbsp;&nbsp;<strong>Pengolah Video:</strong> Yatogami<br>  
</div></div>

<!-- Sekat -->
 
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp;&nbsp;<strong>Kategori:</strong> Serial TV<br> 
&nbsp;&nbsp;<strong>Video:</strong> H.264 10 bit (1280x720 @ crf 18~19)<br>
&nbsp;&nbsp;<strong>Audio:</strong> Jepang/AAC 2.0 - 44.1 KHz<br> 
&nbsp;&nbsp;<strong>Episode:</strong> 7 (dari 12)<br> 
&nbsp;&nbsp;<strong>Status:</strong> Sedang Berjalan<br>
<br></div></div>
<br><br><br><br><br><br><hr>
</div></div>
&nbsp;&nbsp;<strong>Sinopsis:</strong> Kartun Jerman.
<hr>
&nbsp;&nbsp;<b>Episode 01:</b> Der Anfang der Schlacht (Awal Mula Perang)<br>
&nbsp;&nbsp;720p: <a href="http://www.nyaa.se/?page=view&tid=855683"target=_blank>[Torrent]</a> <a href="http://filefenix.com/P1z/[KentutNeraka]_Shuumatsu_no_Izetta_-_01_[49A6C790].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 02:</b> Mit Narben und Schüssen (Bekas Luka dan Tembakan)<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=858123"target=_blank>[Torrent]</a> <a href="http://filefenix.com/8OpX/[KentutNeraka]_Shuumatsu_no_Izetta_-_02_[D082BE2D].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 03:</b> Das Schwert des Himmels (Pedang di Surga)<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=860466"target=_blank>[Torrent]</a> <a href="http://filefenix.com/8PkL/[KentutNeraka]_Shuumatsu_no_Izetta_-_03_[575EF424].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 04:</b> Das Geheimnis der Hexe (Rahasia si Penyihir)<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=862996"target=_blank>[Torrent]</a> <a href="http://filefenix.com/hf2G/[KentutNeraka]_Shuumatsu_no_Izetta_-_04_[512BD595].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 05:</b> Das falsche Wunder (Keajaiban Palsu)<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=865585"target=_blank>[Torrent]</a> <a href="http://filefenix.com/hghZ/[KentutNeraka]_Shuumatsu_no_Izetta_-_05_[38457690].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 06:</b> An einem ruhigen Tag (Hari yang Damai)<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=867876"target=_blank>[Torrent]</a> <a href="http://filefenix.com/8TqE/[KentutNeraka]_Shuumatsu_no_Izetta_-_06_[02A0DB41].mkv"target=_blank>[Filefenix]</a><br>
<hr>
&nbsp;&nbsp;<b>Episode 07:</b> Die Seeschlacht im Sognefjord (Pertempuran Sognefjord)<br>
&nbsp;&nbsp;720p: <a href="https://www.nyaa.se/?page=view&tid=870280"target=_blank>[Torrent]</a> <a href="http://filefenix.com/d71e/[KentutNeraka]_Shuumatsu_no_Izetta_-_07_[9016F9CA].mkv"target=_blank>[Filefenix]</a><br>
<hr>
<br>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//kentutneraka.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><script id="dsq-count-scr" src="//kentutneraka.disqus.com/count.js" async></script>
