<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>Wagnaria!/KN - Airing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://www.kentutneraka.org">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://wagnaria.github.io/shows/airing.htm">Airing (8) </a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://wagnaria.github.io/shows/incomplete.htm">Incomplete (10)</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria.github.io/shows/completed.htm">Completed (35)</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.github.io/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria.github.io/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div id="???" class="pure-u" data-ui-view></div>
</div>  
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}
-->
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="20%">Series</th>
<th width="10%">Episode</th>
<th width="17%">Will air/has aired</th>
<th width="12%">Translator</th>
<th width="12%">Timer</th>
<th width="12%">Editor</th>
<th width="12%">Typesetter</th>
<th width="12%">Encoded?</th>
</tr></thead>
<tbody>

<!-- tanda Arslan Senki -->
<tr class="subbing">
<td class="title"></b> <a id="show_arslan" onclick="document.getElementById('spoiler_arslan').style.display=''; document.getElementById('show_arslan').style.display='none';" class="link">Arslan Senki (The Heroic Legend of Arslan)</a><span id="spoiler_arslan" style="display: none"><a onclick="document.getElementById('spoiler_arslan').style.display='none'; document.getElementById('show_arslan').style.display='';" class="link">[-] Arslan Senki (The Heroic Legend of Arslan)</a><br> 
<b>Title:</b> 
<br>Arslan Senki<br>(The Heroic <br>Legend of Arslan)<br>
<b>Japanese Title:</b> 
<br>アルスラーン戦記<br>
<b>Short Title:</b> 
<br>Arslan<br>
<b>Airtime (Local):</b> 
<br>Sunday - 17:00 WIB<br>
<b>Channel:</b> 
<br>MBS<br><br> 
<a href="http://wagnaria.github.io/mirror/arslan.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/search/label/Arslan%20Senki%20%28The%20Heroic%20Legend%20of%20Arslan%29"target=_blank>Release here<br>
<td>23 (of 25)</td>
<td> <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-09-13T16:00:00" allowtransparency="true" frameborder="0" width="21" height="14.7"></iframe>
days ago</td>
<td class="staff-status-true">Zhara</td>
<td class="staff-status-true">OmBobby</td>
<td class="staff-status-false">NandoL</td>
<td class="staff-status-false">NandoL</td>
<td class="staff-status-true encoded-status">Yes</td>

<!-- tanda Rokka -->
<tr class="subbing">
<td class="title"></b> <a id="show_rokka" onclick="document.getElementById('spoiler_rokka').style.display=''; document.getElementById('show_rokka').style.display='none';" class="link">Rokka no Yuusha</a><span id="spoiler_rokka" style="display: none"><a onclick="document.getElementById('spoiler_rokka').style.display='none'; document.getElementById('show_rokka').style.display='';" class="link">[-] Rokka no Yuusha</a><br> 
<b>Japanese Title:</b> 
<br>六花の勇者<br>
<b>Short Title:</b> 
<br>Rokka<br>
<b>Airtime (Local):</b> 
<br>Sunday - 02:58 (WIB)<br>
<b>Channel:</b> 
<br>Crunchyroll<br><br> 
<a href="http://wagnaria.github.io/mirror/rokka.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/search/label/Rokka%20no%20Yuusha"target=_blank>Release here<br>
</td>
<td>12 (of 12)</td>
<td><iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-09-21T02:58:00" allowtransparency="true" frameborder="0" width="21" height="14.7"></iframe>
days ago</td>
<td class="staff-status-false">titidus</td>
<td class="staff-status-false">HSedit</td>
<td class="staff-status-false">NandoL</td>
<td class="staff-status-false">NandoL</td>
<td class="staff-status-true encoded-status">Yes</td>

<!-- tanda Kowabon-->
<tr class="subbing">
<td class="title"></b> <a id="show_Kowabon" onclick="document.getElementById('spoiler_Kowabon').style.display=''; document.getElementById('show_Kowabon').style.display='none';" class="link">Kowabon</a><span id="spoiler_Kowabon" style="display: none"><a onclick="document.getElementById('spoiler_Kowabon').style.display='none'; document.getElementById('show_Kowabon').style.display='';" class="link">[-] Kowabon</a><br> 
<b>Japanese Title:</b> 
<br>こわぼん<br>
<b>Airtime (local):</b> 
<br>Sunday - 09.42 WIB<br>
<b>Channel:</b> 
<br>KBC<br><br>
<a href="http://wagnaria.github.io/mirror/kowabon.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/search/label/Kowabon">Release here<br> </td>
<td>5 (of 13)</td>
<td><iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-11-01T09:00:00" allowtransparency="true" frameborder="0" width="11" height="14.7"></iframe> 
	   days ago</td>
<td class="staff-status-false">Mau</td>
<td class="staff-status-false">Tau</td>
<td class="staff-status-false">Aja</td>
<td class="staff-status-false">^_^</td>
<td class="staff-status-false encoded-status">No</td>

<!-- tanda SFN-->
<tr class="subbing">
<td class="title"></b> <a id="show_hokuto" onclick="document.getElementById('spoiler_hokuto').style.display=''; document.getElementById('show_hokuto').style.display='none';" class="link">Subete ga F ni Naru: The Perfect Insider</a><span id="spoiler_hokuto" style="display: none"><a onclick="document.getElementById('spoiler_hokuto').style.display='none'; document.getElementById('show_hokuto').style.display='';" class="link">[-] Subete ga F ni Naru: The Perfect Insider</a><br>
<b>Title:</b> 
<br>Subete ga F ni Naru:<br>The Perfect Insider<br> 
<b>Japanese Title:</b> 
<br>すべてがFになる<br> 
<b>Short Title:</b> 
<br>SFN<br> 
<b>Airtime (local):</b> 
<br>Thursday - 00.55 WIB<br>
<b>Channel:</b> 
<br>TV Tokyo<br><br>
<a href="http://wagnaria.github.io/mirror/SFN.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/search/label/Subete%20ga%20F%20ni%20Naru%20%28The%20Perfect%20Insider%29">Release here<br></td>
      <td>4 (of 11)</td>
<td><iframe src="http://free.timeanddate.com/countdown/i4v8vxna/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-10-30T00:35:00" allowTransparency="true" frameborder="0" width="11" height="14.7"></iframe>
	   days ago</td>
<td class="staff-status-false">calutak</td>
<td class="staff-status-false">OmBobby</td>
<td class="staff-status-false">NandoL</td>
<td class="staff-status-false">NandoL</td>
<td class="staff-status-true encoded-status">Yes</td>

<!-- tanda Yuru Yuri-->
<tr class="subbing">
<td class="title"></b> <a id="show_yuru" onclick="document.getElementById('spoiler_yuru').style.display=''; document.getElementById('show_yuru').style.display='none';" class="link">Yuru Yuri San☆Hai!</a><span id="spoiler_yuru" style="display: none"><a onclick="document.getElementById('spoiler_yuru').style.display='none'; document.getElementById('show_yuru').style.display='';" class="link">[-] Yuru Yuri San☆Hai!</a><br> 
<b>Japanese Title:</b> 
<br>ゆるゆり さん☆ハイ<br>
<b>Short Title:</b> 
<br>YY<br>
<b>Airtime (local):</b> 
<br>Tuesday - 00.05 WIB<br>
<b>Channel:</b> 
<br>Crunchyroll<br><br>
<a href="http://wagnaria.github.io/mirror/yuru-yuri-san-hai.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/2015/10/yuru-yuri-sanhai-01.html">Release here<br> </td>
<td>5 (of 12)</td>
<td> <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-11-03T00:05:00" allowtransparency="true" frameborder="0" width="11" height="14.7"></iframe> 
	   days ago</td>
<td class="staff-status-false">irzie</td>
<td class="staff-status-false">calutak</td>
<td class="staff-status-false">OmBobby</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true encoded-status">Yes</td>

<!-- tanda Sakurako -->
<tr class="">
<td class="title"></b> <a id="show_sakurako" onclick="document.getElementById('spoiler_sakurako').style.display=''; document.getElementById('show_sakurako').style.display='none';" class="link">Beautiful Bones -Sakurako's Investigation-</a><span id="spoiler_sakurako" style="display: none"><a onclick="document.getElementById('spoiler_sakurako').style.display='none'; document.getElementById('show_sakurako').style.display='';" class="link">[-] Beautiful Bones -Sakurako's Investigation-</a><br> 
<b>Title:</b> 
<br>A Corpse is Buried<br>Under Sakurako's Feet<br>
<b>Japanese Title:</b> 
<br>櫻子さんの足下には死体が埋まっている<br> 
<b>Short Title:</b> 
<br>Sakurako<br>
<b>Airtime (local):</b> 
<br>Wednesday - 23.30 WIB<br>
<b>Channel:</b> 
<br>Crunchyroll<br><br>
<a href="http://wagnaria.github.io/mirror/sakurako.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/search/label/A%20Corpse%20is%20Buried%20Under%20Sakurako%27s%20Feet">Release here<br></td>
      <td>5 (of 12)</td>
<td>in <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu2/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-11-04T23:30:00" allowtransparency="true" frameborder="0" width="21" height="14.7"></iframe> 
	   hours</td>
<td class="staff-status-false">titidus</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false encoded-status">No</td>

<!-- tanda kagewani-->
<tr class="">
<td class=""></b> <a id="show_kagewani" onclick="document.getElementById('spoiler_kagewani').style.display=''; document.getElementById('show_kagewani').style.display='none';" class="link">Kagewani</a><span id="spoiler_kagewani" style="display: none"><a onclick="document.getElementById('spoiler_kagewani').style.display='none'; document.getElementById('show_kagewani').style.display='';" class="link">[-] Kagewani</a><br> 
<b>Japanese Title:</b> 
<br>影鰐<br>
<b>Airtime (local):</b> 
<br>Friday - 23.00 WIB<br>
<b>Channel:</b> 
<br>Crunchyroll<br><br>
<a href="http://wagnaria.github.io/mirror/kagewani.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/search/label/Kagewani">Release here<br></td>
<td>6 (of 13)</td>
<td>in <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-11-05T23:00:00" allowtransparency="true" frameborder="0" width="11" height="14.7"></iframe> 
	   days</td>
<td class="staff-status-false">OmBobby</td>
<td class="staff-status-false">OmBobby</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true encoded-status">Yes</td>

<!-- tanda shinmai-->
<tr class="">
<td class="title"></b> <a id="show_shinmai" onclick="document.getElementById('spoiler_shinmai').style.display=''; document.getElementById('show_shinmai').style.display='none';" class="link">Shinmai Maou no Testament Burst</a><span id="spoiler_shinmai" style="display: none"><a onclick="document.getElementById('spoiler_shinmai').style.display='none'; document.getElementById('show_shinmai').style.display='';" class="link">[-] Shinmai Maou no Testament Burst</a><br>
<b>Title:</b> 
<br>Shinmai Maou no <br>Testament Burst<br> 
<b>Japanese Title:</b> 
<br>新妹魔王の契約者 BURST<br>
<b>Short Title:</b> 
<br>Tespen<br>
<b>Airtime (local):</b> 
<br>Saturday - 00.40<br>
<b>Channel:</b> 
<br>Crunchyroll<br><br>
<a href="http://wagnaria.github.io/mirror/shinmai-s2.htm"target=_blank>Download</a> |
<a href="http://www.kentutneraka.org/search/label/Shinmai%20Maou%20no%20Testament%20BURST">Release here<br>
</td>
<td>5 (of 10)</td>
<td>in <iframe src="http://free.timeanddate.com/countdown/i4s5hza7/n108/cf11/cm1/cu1/ct1/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fs48/szw516/szh240/iso2015-11-06T00:40:00" allowtransparency="true" frameborder="0" width="11" height="14.7"></iframe> days</td>
<td class="staff-status-false">NandoL</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false encoded-status">No</td>

</tbody></table>
</div>
</body></html>
 <p align="right"><span class="style6"><br><br>
&nbsp; &nbsp;Klik kartun untuk info lebih detail.&nbsp; &nbsp;<br>
&nbsp; &nbsp;Jam tayang sudah lokal (WIB).&nbsp; &nbsp;<br>
&nbsp; &nbsp;Tetaplah sabar dan menjadi wibu yang baik.&nbsp; &nbsp;<br><br>
&nbsp; &nbsp;Kritik dan saran-&gt;</span><a href="https://twitter.com/rakapriadika" target="_blank" class="s">rakaosd&nbsp; &nbsp;</a></p></div>
