<!DOCTYPE html>
<html lang="en" data-ng-app="KentutNeraka">
<head>
  <title>Jadwal Tayang</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}
-->
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="20%">Judul Anime</th>
<th width="10%">Episode</th>
<th width="17%">Tayang pada:</th>
<th width="12%">Penerjemah</th>
<th width="12%">Penyunting</th>
<th width="12%">Penata Rias</th>
<th width="12%">Pengolah Video</th>
</tr></thead>
<tbody>
	
<!-- tanda Vivid Strike -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_ViVid Strike!" onclick="document.getElementById('spoiler_ViVid Strike!').style.display=''; document.getElementById('show_ViVid Strike!').style.display='none';" class="link">ViVid Strike!</a><span id="spoiler_ViVid Strike!" style="display: none"><a onclick="document.getElementById('spoiler_ViVid Strike!').style.display='none'; document.getElementById('show_ViVid Strike!').style.display='';" class="link">[-] ViVid Strike!</a><br>    
<b>Judul:</b> 
<br>ViVid Strike!<br>
<b>Jam tayang (lokal):</b> 
<br>Minggu - 00.30 WIB<br>
<b>Stasiun:</b> 
<br>BS11<br><br>
<a href="http://kentutneraka.org/releases/vivid-strike.htm">Arsip<br></td>
     <td>5 (dari 12)</td>
<td>30 Okt 2016 </td>
<td class="staff-status-true">Bismarck</td> 
<td class="staff-status-false">TensaiGG</td>
<td class="staff-status-false">山田葵</td>
<td class="staff-status-true">Yatogami</td>
		
<!-- tanda keijo -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_keijo" onclick="document.getElementById('spoiler_keijo').style.display=''; document.getElementById('show_keijo').style.display='none';" class="link">Keijo (Hip Whip Girl)</a><span id="spoiler_keijo" style="display: none"><a onclick="document.getElementById('spoiler_keijo').style.display='none'; document.getElementById('show_keijo').style.display='';" class="link">[-] Keijo (Hip Whip Girl)</a><br>     
<b>Judul:</b> 
<br>Keijo!!!!!!!!<br>
<b>Judul Jepang:</b> 
<br>競女!!!!!!!!<br> 
<b>Judul pendek:</b> 
<br>Keijo<br>
<b>Jam tayang (lokal):</b> 
<br>Kamis - 23.30 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/keijo.htm">Arsip<br></td>
     <td>8 (dari 12)</td>
<td>24 Nov 2016 </td>
<td class="staff-status-true">Ik</td> 
<td class="staff-status-false">TensaiGG</td>
<td class="staff-status-false">Ram</td>
<td class="staff-status-true">Yatogami</td>
								
<!-- tanda penyihir cilik -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_little_witch" onclick="document.getElementById('spoiler_little_witch').style.display=''; document.getElementById('show_little_witch').style.display='none';" class="link">Little Witch Academia</a><span id="spoiler_little_witch" style="display: none"><a onclick="document.getElementById('spoiler_little_witch').style.display='none'; document.getElementById('show_little_witch').style.display='';" class="link">[-] Little Witch Academia</a><br>      
<b>Judul:</b> 
<br>Little Witch Academia<br>
<b>Judul Jepang:</b> 
<br>リトルウィッチアカデミア <br> 
<b>Judul pendek:</b> 
<br>LWA<br>
<b>Jam tayang (lokal):</b> 
<br>Senin - 00.00 WIB<br>
<b>Stasiun:</b> 
<br>BS11<br><br>
<a href="http://kentutneraka.org/releases/little-witch-academia.htm">Arsip<br></td>
     <td>2 (dari 25)</td>
<td>16 Jan 2017 </td>
<td class="staff-status-true">Zeep</td> 
<td class="staff-status-true">Yupina</td>
<td class="staff-status-true">rakaosd</td>
<td class="staff-status-true">rakaosd</td>
	
<!-- tanda All Out -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_All_Out" onclick="document.getElementById('spoiler_All_Out').style.display=''; document.getElementById('show_All_Out').style.display='none';" class="link">All Out!!</a><span id="spoiler_All_Out" style="display: none"><a onclick="document.getElementById('spoiler_All_Out').style.display='none'; document.getElementById('show_All_Out').style.display='';" class="link">[-] All Out!!</a><br>      
<b>Judul:</b> 
<br>All Out!!<br>
<b>Judul Jepang:</b> 
<br>オールアウト!!<br> 
<b>Judul pendek:</b> 
<br>AO<br>
<b>Jam tayang (lokal):</b> 
<br>Jumat - 00.00 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/all-out.htm">Arsip<br></td>
     <td>16 (dari 25)</td>
<td>27 Jan 2017 </td>
<td class="staff-status-true">alphonse</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true">rakaosd</td>
<td class="staff-status-true">alphonse</td>
														
<!-- tanda demi -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_demi" onclick="document.getElementById('spoiler_demi').style.display=''; document.getElementById('show_demi').style.display='none';" class="link">Interviews With Monster Girls</a><span id="spoiler_demi" style="display: none"><a onclick="document.getElementById('spoiler_demi').style.display='none'; document.getElementById('show_demi').style.display='';" class="link">[-] Interviews With Monster Girls</a><br>      
<b>Judul:</b>
<br>Demi-chan wa Kataritai (Interviews With Monster Girls)<br>
<b>Judul Jepang:</b> 
<br>亜人ちゃんは語りたい<br> 
<b>Judul pendek:</b> 
<br>Demi<br>
<b>Jam tayang (lokal):</b> 
<br>Minggu - 01.00 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/interviews-with-monster-girls.htm">Arsip<br></td>
     <td>8 (dari 12)</td>
<td>26 Feb 2017 </td>
<td class="staff-status-true">Alexia</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true">Yatogami</td>
	
<!-- tanda masamune -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_masamune" onclick="document.getElementById('spoiler_masamune').style.display=''; document.getElementById('show_masamune').style.display='none';" class="link">Masamune-kun no Revenge</a><span id="spoiler_masamune" style="display: none"><a onclick="document.getElementById('spoiler_masamune').style.display='none'; document.getElementById('show_masamune').style.display='';" class="link">[-] Masamune-kun no Revenge</a><br>      
<b>Judul:</b> 
<br>Masamune-kun no Revenge<br>
<b>Judul Jepang:</b> 
<br>政宗くんのリベンジ<br> 
<b>Judul pendek:</b> 
<br>masamune<br>
<b>Jam tayang (lokal):</b> 
<br>Kamis - 22.30 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/masamune-kun-no-revenge.htm">Arsip<br></td>
     <td>10 (dari 12)</td>
<td>09 Mar 2017 </td>
<td class="staff-status-false">Abe</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true">Yatogami</td>
				
<!-- tanda kuzu no honkai -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_kuzuhonkai" onclick="document.getElementById('spoiler_kuzuhonkai').style.display=''; document.getElementById('show_kuzuhonkai').style.display='none';" class="link">Kuzu no Honkai</a><span id="spoiler_kuzuhonkai" style="display: none"><a onclick="document.getElementById('spoiler_kuzuhonkai').style.display='none'; document.getElementById('show_kuzuhonkai').style.display='';" class="link">[-] Kuzu no Honkai</a><br>      
<b>Judul:</b>
<br>Kuzu no Honkai<br>
<b>Judul Jepang:</b> 
<br>クズの本懐 <br> 
<b>Judul pendek:</b> 
<br>KNH<br>
<b>Jam tayang (lokal):</b> 
<br>Jumat - 00.55 WIB<br>
<b>Stasiun:</b> 
<br>Amazon<br><br>
<a href="http://kentutneraka.org/releases/kuzu-no-honkai.htm">Arsip<br></td>
     <td>10 (dari 12)</td>
<td>17 Mar 2017 </td>
<td class="staff-status-true">rakaosd</td> 
<td class="staff-status-false">Kuzu</td>
<td class="staff-status-true">☭</td>
<td class="staff-status-true">☭</td>
	
<!-- tanda yojou senki -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_youjo_senki" onclick="document.getElementById('spoiler_youjo_senki').style.display=''; document.getElementById('show_youjo_senki').style.display='none';" class="link">Youjo Senki </a><span id="spoiler_youjo_senki" style="display: none"><a onclick="document.getElementById('spoiler_youjo_senki').style.display='none'; document.getElementById('show_youjo_senki').style.display='';" class="link">[-] Youjo Senki </a><br>      
<b>Judul:</b>
<br>Youjo Senki<br>
<b>Judul Jepang:</b> 
<br>幼女戦記<br> 
<b>Judul pendek:</b> 
<br>YS<br>
<b>Jam tayang (lokal):</b> 
<br>Jumat - 22.00 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/youjo-senki.htm">Arsip<br></td>
     <td>10 (dari 12)</td>
<td>17 Mar 2017 </td>
<td class="staff-status-false">irzie</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">Yatogami</td>
	
</tbody></table>
</div>
</body></html>
	<br>
<!-- Jam -->
<div id="refresh"><font color="#2f7ab9">&nbsp; &nbsp;Saat ini: 
<script> var tod=new Date(); var weekday=new Array("Minggu","Senin","Selasa","Rabu","Kamis","Jumat","Sabtu"); var monthname=new Array("Jan","Feb","Mar","Apr","Mei","Jun","Jul","Agust","Sep","Okt","Nov","Des"); var y = tod.getFullYear();  var m = tod.getMonth(); var d = tod.getDate(); var dow = tod.getDay(); var dispTime = " " + weekday[dow] + ", " + d + " " + monthname[m] + " " + y + " "; if (dow==0) dispTime= "<font color=#2f7ab9>" + dispTime + "</font>"; else if (dow==5) dispTime= "<font color=#2f7ab9>" + dispTime + "</font>"; else dispTime= "<font color=#2f7ab9>" + dispTime + "</font>";  document.write(dispTime); </script>|

<script> function clock() { var digital = new Date(); var hours = digital.getHours(); var minutes = digital.getMinutes(); var seconds = digital.getSeconds(); var amOrPm = "AM";  if (hours > 11) amOrPm = "PM"; if (hours > 12) hours = hours - 12;if (hours == 0) hours = 12; if  (hours <= 9) hours = "0" + hours; if (minutes <= 9) minutes = "0" + minutes; if (seconds <= 9) seconds = "0" + seconds;  dispTime = hours + ":" + minutes + ":" + seconds + " " + amOrPm; if (navigator.appName=="Netscape") { dispTime = hours + ":" + minutes + " " + amOrPm;  document.write (dispTime); return; }  if (document.layers) {  document.layers.jamdigital.document.write(dispTime);  document.layers.jamdigital.document.close(); } else if (document.all) jamdigital.innerHTML = dispTime; setTimeout("clock()", 1000); } document.write('<span id="jamdigital" xstyle="font-weight:bold;"></span>'); clock();  </script> WIB<br>
</font></div>
	
<p align="left"><span class="style6"><br><br>
&nbsp; &nbsp;Klik judul anime untuk informasi lebih detail.&nbsp; &nbsp;<br>
&nbsp; &nbsp;Kunjungi arsip untuk mengetahui formasi staf dan tautan unduh alternatif.&nbsp; &nbsp;<br>
&nbsp; &nbsp;Tetaplah sabar dan menjadi wibu yang baik.&nbsp; &nbsp;<br><br>
&nbsp; &nbsp;Kritik dan saran-&gt;</span><a href="https://twitter.com/rakapriadika" target="_blank" class="s">rakaosd&nbsp; &nbsp;</a></p></div>



