<!DOCTYPE html>
<html lang="en" data-ng-app="KentutNeraka">
<head>
  <title>Jadwal Tayang</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<br>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://kentutneraka.org/">kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing"><a href="http://kentutneraka.org/releases">Rilisan Terbaru</a></li>
			<li id="nav_airing" ng-if="counts.airing > 0"><a href="http://kentutneraka.org/shows/airing.htm">Sedang Tayang</a></li>
			<li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://kentutneraka.org/shows/incomplete.htm">Tidak Selesai</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/shows/completed.htm">Selesai</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://kentutneraka.org/staff.htm">Staf</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/about.htm">Perjalanan Grup</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/recruitment.htm">Perekrutan</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://kentutneraka.org/donation.htm">Donasi</a></li>
		<li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.kentutneraka.org/">DDL</a></li>
			<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://www.nyaa.se/?user=252429">Torrent</a></li>
      </ul>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}
-->
</style>
<style>
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="20%">Judul Anime</th>
<th width="10%">Episode</th>
<th width="17%">Tayang pada:</th>
<th width="12%">Penerjemah</th>
<th width="12%">Penyunting</th>
<th width="12%">Penata Rias</th>
<th width="12%">Pengolah Video</th>
</tr></thead>
<tbody>
	
<!-- tanda BSD S2 -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_BSD_S2" onclick="document.getElementById('spoiler_BSD_S2').style.display=''; document.getElementById('show_BSD_S2').style.display='none';" class="link">Bungo Stray Dogs</a><span id="spoiler_BSD_S2" style="display: none"><a onclick="document.getElementById('spoiler_BSD_S2').style.display='none'; document.getElementById('show_BSD_S2').style.display='';" class="link">[-] Bungo Stray Dogs</a><br>      
<b>Judul:</b> 
<br>Bungou Stray Dogs<br>
<b>Judul Jepang:</b> 
<br>文豪ストレイドッグス<br> 
<b>Judul pendek:</b> 
<br>BSD<br>
<b>Jam tayang (lokal):</b> 
<br>Rabu - 22.30 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/bungo-stray-dogs.htm"target=_blank>Arsip<br></td>
     <td>17 (dari 24)</td>
<td>TBA</td>
<td class="staff-status-false">irzie</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true">Yatogami</td>
	
<!-- tanda keijo -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_keijo" onclick="document.getElementById('spoiler_keijo').style.display=''; document.getElementById('show_keijo').style.display='none';" class="link">Keijo (Hip Whip Girl)</a><span id="spoiler_keijo" style="display: none"><a onclick="document.getElementById('spoiler_keijo').style.display='none'; document.getElementById('show_keijo').style.display='';" class="link">[-] Keijo (Hip Whip Girl)</a><br>     
<b>Judul:</b> 
<br>Keijo!!!!!!!!<br>
<b>Judul Jepang:</b> 
<br>競女!!!!!!!!<br> 
<b>Judul pendek:</b> 
<br>Keijo<br>
<b>Jam tayang (lokal):</b> 
<br>Kamis - 23.30 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/keijo.htm">Arsip<br></td>
     <td>3 (dari 12)</td>
<td>20 Okt 2016 </td>
<td class="staff-status-true">Ik</td> 
<td class="staff-status-true">TensaiGG</td>
<td class="staff-status-false">Ram</td>
<td class="staff-status-true">Yatogami</td>
	
<!-- tanda Vivid Strike -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_ViVid Strike!" onclick="document.getElementById('spoiler_ViVid Strike!').style.display=''; document.getElementById('show_ViVid Strike!').style.display='none';" class="link">ViVid Strike!</a><span id="spoiler_ViVid Strike!" style="display: none"><a onclick="document.getElementById('spoiler_ViVid Strike!').style.display='none'; document.getElementById('show_ViVid Strike!').style.display='';" class="link">[-] ViVid Strike!</a><br>    
<b>Judul:</b> 
<br>ViVid Strike!<br>
<b>Jam tayang (lokal):</b> 
<br>Minggu - 00.30 WIB<br>
<b>Stasiun:</b> 
<br>BS11<br><br>
<a href="http://kentutneraka.org/releases/vivid-strike.htm">Arsip<br></td>
     <td>5 (dari 12)</td>
<td>30 Okt 2016 </td>
<td class="staff-status-true">Bismarck</td> 
<td class="staff-status-false">TensaiGG</td>
<td class="staff-status-false">山田葵</td>
<td class="staff-status-true">Yatogami</td>
	
<!-- tanda www.working -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_www_working" onclick="document.getElementById('spoiler_www_working').style.display=''; document.getElementById('show_www_working').style.display='none';" class="link">WWW.WORKING!!</a><span id="spoiler_www_working" style="display: none"><a onclick="document.getElementById('spoiler_www_working').style.display='none'; document.getElementById('show_www_working').style.display='';" class="link">[-] WWW.WORKING!!</a><br>   
<b>Judul:</b> 
<br>WWW.WORKING!!<br>
<b>Judul pendek:</b> 
<br>working<br>
<b>Jam tayang (lokal):</b> 
<br>Sabtu - 23.05 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/www-working.htm"target=_blank>Arsip<br></td>
     <td>6 (dari 13)</td>
<td>05 Nov 2016 </td>
<td class="staff-status-true">Ik</td> 
<td class="staff-status-false">Yupina</td>
<td class="staff-status-true">山田葵</td>
<td class="staff-status-true">Panji</td>
	
<!-- tanda Izetta -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_izetta" onclick="document.getElementById('spoiler_izetta').style.display=''; document.getElementById('show_izetta').style.display='none';" class="link">Shuumatsu no Izetta</a><span id="spoiler_izetta" style="display: none"><a onclick="document.getElementById('spoiler_izetta').style.display='none'; document.getElementById('show_izetta').style.display='';" class="link">[-] Shuumatsu no Izetta</a><br>      
<b>Judul:</b>  
<br>Shuumatsu no Izetta<br>
<b>Judul Jepang:</b> 
<br>終末のイゼッタ<br> 
<b>Judul pendek:</b> 
<br>Izetta<br>
<b>Jam tayang (lokal):</b> 
<br>Sabtu - 23.00 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/shuumatsu-no-izetta.htm">Arsip<br></td>
     <td>7 (dari 12)</td>
<td>12 Nov 2016 </td>
<td class="staff-status-false">Bismarck</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true">Yatogami</td>
	
<!-- tanda Days -->
<tr class="subbing">
<td class="Judul"></b> <a id="show_Days" onclick="document.getElementById('spoiler_Days').style.display=''; document.getElementById('show_Days').style.display='none';" class="link">Days</a><span id="spoiler_Days" style="display: none"><a onclick="document.getElementById('spoiler_Days').style.display='none'; document.getElementById('show_Days').style.display='';" class="link">[-] Days</a><br>   
<b>Judul:</b> 
<br>Days<br>
<b>Jam tayang (lokal):</b> 
<br>Minggu - 04.58 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/days.htm">Arsip<br></td>
     <td>19 (dari 24)</td>
<td>13 Nov 2016 </td>
<td class="staff-status-false">rakaosd</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">true</td>
	
<!-- tanda All Out -->
<tr class="">
<td class="Judul"></b> <a id="show_All_Out" onclick="document.getElementById('spoiler_All_Out').style.display=''; document.getElementById('show_All_Out').style.display='none';" class="link">All Out!!</a><span id="spoiler_All_Out" style="display: none"><a onclick="document.getElementById('spoiler_All_Out').style.display='none'; document.getElementById('show_All_Out').style.display='';" class="link">[-] All Out!!</a><br>      
<b>Judul:</b> 
<br>All Out!!<br>
<b>Judul Jepang:</b> 
<br>オールアウト!!<br> 
<b>Judul pendek:</b> 
<br>AO<br>
<b>Jam tayang (lokal):</b> 
<br>Jumat - 00.00 WIB<br>
<b>Stasiun:</b> 
<br>Crunchyroll<br><br>
<a href="http://kentutneraka.org/releases/all-out.htm">Arsip<br></td>
     <td>7 (dari 25)</td>
<td>18 Nov 2016 </td>
<td class="staff-status-false">alphonse</td> 
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">alphonse</td>
	

</tbody></table>
</div>
</body></html>
<p align="right"><span class="style6"><br><br>
&nbsp; &nbsp;Klik judul anime untuk informasi lebih detail.&nbsp; &nbsp;<br>
&nbsp; &nbsp;Kunjungi arsip untuk mengetahui formasi staf dan tautan unduh alternatif.&nbsp; &nbsp;<br>
&nbsp; &nbsp;Tetaplah sabar dan menjadi wibu yang baik.&nbsp; &nbsp;<br><br>
&nbsp; &nbsp;Kritik dan saran-&gt;</span><a href="https://twitter.com/rakapriadika" target="_blank" class="s">rakaosd&nbsp; &nbsp;</a></p></div>



