<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>Wagnaria!/KN - Completed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
-->
  </style>
</head>
<body>
<div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://www.kentutneraka.org">☭ Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://wagnaria.github.io/shows/airing.htm">Airing</a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://wagnaria.github.io/shows/incomplete.htm">Incomplete</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria.github.io/shows/completed.htm">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.github.io/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria.github.io/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div id="???" class="pure-u" data-ui-view></div>
</div>  
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

<!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}

-->
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="25%">Series</th>
<th width="9%">Episode</th>
<th width="10%">Last Aired</th>
<th width="12%">Translator</th>
<th width="12%">Timer</th>
<th width="12%">Editor</th>
<th width="12%">Typesetter</th>
</tr></thead>
  <!-- tanda -->

<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
<td class="title"></b> <a id="show_FLCL" onclick="document.getElementById('spoiler_FLCL').style.display=''; document.getElementById('show_FLCL').style.display='none';" class="link">FLCL</a><span id="spoiler_FLCL" style="display: none"><a onclick="document.getElementById('spoiler_FLCL').style.display='none'; document.getElementById('show_FLCL').style.display='';" class="link">[-] FLCL</a><br><br>
<a href="https://mega.nz/#F!4VgX0bwZ!hL_jezGu2kpldX1sDyU7wg"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/flcl-bd-8119/list,1,1"target=_blank>[KB]</a> |
<a href="https://www.solidfiles.com/folder/4f51782b57/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/search/label/Furi%20Kuri"target=_blank>Release here<br></a>
</div></td>
  <td><div align="left">6</div></td>
  <td><div align="left">Mar 16, 2001</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">AnaF</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Full Metal Panic!" onclick="document.getElementById('spoiler_Full Metal Panic!').style.display=''; document.getElementById('show_Full Metal Panic!').style.display='none';" class="link">Full Metal Panic!</a><span id="spoiler_Full Metal Panic!" style="display: none"><a onclick="document.getElementById('spoiler_Full Metal Panic!').style.display='none'; document.getElementById('show_Full Metal Panic!').style.display='';" class="link">[-] Full Metal Panic!</a><br><br>
<a href="https://mega.nz/#F!AdoW0T6Y!symgTlOMSWf3EUwbu1AGGQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/full-metal-panic-7933/list,1,1"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/373f2eb2ac/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/2014/06/full-metal-panic-batch.html"target=_blank>Release here<br></a>
  <td><div align="left">24</div></td>
  <td><div align="left">Jun 18, 2002</div></td>
  <td><div align="left">Aeul</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">cacaJuwita</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Full Metal Panic! Fumoffu?" onclick="document.getElementById('spoiler_Full Metal Panic! Fumoffu?').style.display=''; document.getElementById('show_Full Metal Panic! Fumoffu?').style.display='none';" class="link">Full Metal Panic! Fumoffu?</a><span id="spoiler_Full Metal Panic! Fumoffu?" style="display: none"><a onclick="document.getElementById('spoiler_Full Metal Panic! Fumoffu?').style.display='none'; document.getElementById('show_Full Metal Panic! Fumoffu?').style.display='';" class="link">[-] Full Metal Panic! Fumoffu?</a><br><br>
<a href="https://mega.nz/#F!kVoHFJLA!BfcJl0JI2213JIbACOO8cQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/full-metal-panic-fumoffu-8061/list,1,1"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2013/08/full-metal-panic-fumoffu-subtitle.html"target=_blank>Release here<br></a>
  <td><div align="left">13</div></td>
  <td><div align="left">Oct 18, 2003</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Kumo no Mukou Yakusoku no Basho" onclick="document.getElementById('spoiler_Kumo no Mukou Yakusoku no Basho').style.display=''; document.getElementById('show_Kumo no Mukou Yakusoku no Basho').style.display='none';" class="link">Kumo no Mukou Yakusoku no Basho</a><span id="spoiler_Kumo no Mukou Yakusoku no Basho" style="display: none"><a onclick="document.getElementById('spoiler_Kumo no Mukou Yakusoku no Basho').style.display='none'; document.getElementById('show_Kumo no Mukou Yakusoku no Basho').style.display='';" class="link">[-] Kumo no Mukou Yakusoku no Basho</a><br><br>
<a href="https://mega.nz/#F!kIB22ASS!5qAULzjgVOyijLzcbg44rg"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/kumo-no-mukou-yakusoku-no-basho-movie-7920"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/2bb7060c72/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/2014/02/kumo-no-mukou-yakusoku-no-basho-movie.html"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Nov 20, 2004</div></td>
  <td><div align="left">rakaJuwita</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Full Metal Panic! The Second Raid" onclick="document.getElementById('spoiler_Full Metal Panic! The Second Raid').style.display=''; document.getElementById('show_Full Metal Panic! The Second Raid').style.display='none';" class="link">Full Metal Panic! The Second Raid</a><span id="spoiler_Full Metal Panic! The Second Raid" style="display: none"><a onclick="document.getElementById('spoiler_Full Metal Panic! The Second Raid').style.display='none'; document.getElementById('show_Full Metal Panic! The Second Raid').style.display='';" class="link">[-] Full Metal Panic! The Second Raid</a><br><br>
<a href="https://mega.nz/#F!gdhACIAa!yUd5ughqbBNA5BkzMqmZFg"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/full-metal-panic-the-second-raid-ova-8069"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2013/06/full-metal-panic-second-raid-subtitle.html"target=_blank>Release here<br></a>
  <td><div align="left">13</div></td>
  <td><div align="left">Oct 20, 2005</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Full Metal Panic! The Second Raid OVA" onclick="document.getElementById('spoiler_Full Metal Panic! The Second Raid OVA').style.display=''; document.getElementById('show_Full Metal Panic! The Second Raid OVA').style.display='none';" class="link">Full Metal Panic! The Second Raid OVA</a><span id="spoiler_Full Metal Panic! The Second Raid OVA" style="display: none"><a onclick="document.getElementById('spoiler_Full Metal Panic! The Second Raid OVA').style.display='none'; document.getElementById('show_Full Metal Panic! The Second Raid OVA').style.display='';" class="link">[-] Full Metal Panic! The Second Raid OVA</a><br><br>
<a href="https://mega.nz/#!UYwSSJ4D!QDzzzTUB70kEnRm4KdIC2h6EBRFNJTbEYO3h_xXwXnQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/full-metal-panic-the-second-raid-ova-8069/kentutneraka-full-metal-panic-tsr-14-ova-eb112a53,69948,gallery,1,1.mkv"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2013/07/full-metal-panic-second-raid-ova.html"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">May 26, 2006</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Claymore " onclick="document.getElementById('spoiler_Claymore ').style.display=''; document.getElementById('show_Claymore ').style.display='none';" class="link">Claymore </a><span id="spoiler_Claymore " style="display: none"><a onclick="document.getElementById('spoiler_Claymore ').style.display='none'; document.getElementById('show_Claymore ').style.display='';" class="link">[-] Claymore </a><br><br>
<a href="https://mega.nz/#F!9R4kABaT!EULyNCOFH47zKEqIwVkUYQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/claymore-bd-7818"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/da601925f6/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/search/label/Claymore%20BD"target=_blank>Release here<br></a>
  <td><div align="left">26</div></td>
  <td><div align="left">Sep 26, 2007</div></td>
  <td><div align="left">Zhara</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Working!!" onclick="document.getElementById('spoiler_Working!!').style.display=''; document.getElementById('show_Working!!').style.display='none';" class="link">Working!!</a><span id="spoiler_Working!!" style="display: none"><a onclick="document.getElementById('spoiler_Working!!').style.display='none'; document.getElementById('show_Working!!').style.display='';" class="link">[-] Working!!</a><br><br>
<a href="https://mega.nz/#F!nRVBGYoa!xwCMLCjetcX9UamNcgeZ4A"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/working-bd-106946"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2015/06/working-bd-batch.html"target=_blank>Release here<br></a>
  <td><div align="left">13</div></td>
  <td><div align="left">Jun 27, 2010</div></td>
  <td><div align="left">Aleki</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Yojouhan Shinwa Taikei" onclick="document.getElementById('spoiler_Yojouhan Shinwa Taikei').style.display=''; document.getElementById('show_Yojouhan Shinwa Taikei').style.display='none';" class="link">Yojouhan Shinwa Taikei</a><span id="spoiler_Yojouhan Shinwa Taikei" style="display: none"><a onclick="document.getElementById('spoiler_Yojouhan Shinwa Taikei').style.display='none'; document.getElementById('show_Yojouhan Shinwa Taikei').style.display='';" class="link">[-] Yojouhan Shinwa Taikei</a><br><br>
<a href="https://mega.nz/#F!oRRD1axL!zpqYepGyL3xzPxyFZOHUXQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/the-tatami-galaxy-bd-8128"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/e4f5ad0c38/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/2014/02/yojouhan-shinwa-taikei-tatami-galaxy-bd.html"target=_blank>Release here<br></a>
  <td><div align="left">11</div></td>
  <td><div align="left">Jul 2, 2010</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">Elysium</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Working2" onclick="document.getElementById('spoiler_Working2').style.display=''; document.getElementById('show_Working2').style.display='none';" class="link">Working'!!</a><span id="spoiler_Working2" style="display: none"><a onclick="document.getElementById('spoiler_2').style.display='none'; document.getElementById('show_Working2').style.display='';" class="link">[-] Working'!!</a><br><br>
<a href="https://mega.nz/#F!mUcgyAzC!P2HCyq3iCsZ_vfB3qs8qUg"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/working-bd-111040"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2015/07/working-season-2-bd-batch.html"target=_blank>Release here<br></a>
  <td><div align="left">11</div></td>
  <td><div align="left">Dec 24, 2011</div></td>
  <td><div align="left">Lulubobby</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">Bobosd</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Chihayafuru" onclick="document.getElementById('spoiler_Chihayafuru').style.display=''; document.getElementById('show_Chihayafuru').style.display='none';" class="link">Chihayafuru</a><span id="spoiler_Chihayafuru" style="display: none"><a onclick="document.getElementById('spoiler_Chihayafuru').style.display='none'; document.getElementById('show_Chihayafuru').style.display='';" class="link">[-] Chihayafuru</a><br><br>
<a href="https://mega.nz/#F!lUw3DarR!Yptrqdnz3d8BqX5bdqy9Ew"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/chihayafuru-bd-7878"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Chihayafuru"target=_blank>Release here<br></a>
  <td><div align="left">25</div></td>
  <td><div align="left">Mar 28, 2012</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">HSedit</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Kids on the Slope" onclick="document.getElementById('spoiler_Kids on the Slope').style.display=''; document.getElementById('show_Kids on the Slope').style.display='none';" class="link">Kids on the Slope</a><span id="spoiler_Kids on the Slope" style="display: none"><a onclick="document.getElementById('spoiler_Kids on the Slope').style.display='none'; document.getElementById('show_Kids on the Slope').style.display='';" class="link">[-] Kids on the Slope</a><br><br>
<a href="https://mega.nz/#F!QAQzzKxK!IR1fNv2GCwDWaWcwLWhRiQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/kids-on-the-slope-bd-8107"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/15cd0e1933/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/2014/07/kids-on-slope-bd-batches.html"target=_blank>Release here<br></a>
  <td><div align="left">12</div></td>
  <td><div align="left">Jun 29, 2012</div></td>
  <td><div align="left">melow</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Ghost in the Shell Arise 1" onclick="document.getElementById('spoiler_Ghost in the Shell Arise 1').style.display=''; document.getElementById('show_Ghost in the Shell Arise 1').style.display='none';" class="link">Ghost in the Shell Arise 1</a><span id="spoiler_Ghost in the Shell Arise 1" style="display: none"><a onclick="document.getElementById('spoiler_Ghost in the Shell Arise 1').style.display='none'; document.getElementById('show_Ghost in the Shell Arise 1').style.display='';" class="link">[-] Ghost in the Shell Arise 1</a><br><br>
<a href="https://mega.nz/#!hIRXHA7D!56BJvbIyxJWNigAuyvfe3i9uTXudTCLXgdCcBpa2jGc"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/ghost-in-the-shell-arise-movie-7924/kentutneraka-ghost-in-the-shell-arise-01-bd-720p-aac-ccccd894,68980,list,1,1.mkv"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Ghost%20in%20the%20Shell%3A%20Arise"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Jun 22, 2013</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">commie</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Chihayafuru 2" onclick="document.getElementById('spoiler_Chihayafuru 2').style.display=''; document.getElementById('show_Chihayafuru 2').style.display='none';" class="link">Chihayafuru 2</a><span id="spoiler_Chihayafuru 2" style="display: none"><a onclick="document.getElementById('spoiler_Chihayafuru 2').style.display='none'; document.getElementById('show_Chihayafuru 2').style.display='';" class="link">[-] Chihayafuru 2</a><br><br>
<a href="https://mega.nz/#F!lFQGlQII!KsExyGyzg-pzlm75YKCxiQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/chihayafuru-2-bd-7897"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/725a21eba8/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/search/label/Chihayafuru%20S2"target=_blank>Release here<br></a>
  <td><div align="left">25</div></td>
  <td><div align="left">Jun 29, 2013</div></td>
  <td><div align="left">calutakosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Chihayafuru 2 OVA" onclick="document.getElementById('spoiler_Chihayafuru 2 OVA').style.display=''; document.getElementById('show_Chihayafuru 2 OVA').style.display='none';" class="link">Chihayafuru 2 OVA</a><span id="spoiler_Chihayafuru 2 OVA" style="display: none"><a onclick="document.getElementById('spoiler_Chihayafuru 2 OVA').style.display='none'; document.getElementById('show_Chihayafuru 2 OVA').style.display='';" class="link">[-] Chihayafuru 2 OVA</a><br><br>
<a href="https://mega.nz/#!lAxWSYDZ!EFIL3xnTA6XrG31B0W8tIw14y44CQGlvmcM5na61ujk"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/chihayafuru-2-bd-7897/kentutneraka-chihayafuru-2-26-ova-30619fc7,77680,list,1,2.mkv"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/d/7bb76ad2f0/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/search/label/Chihayafuru%20OVA"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Sep 13, 2013</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">commie</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Ghost in the Shell Arise 2" onclick="document.getElementById('spoiler_Ghost in the Shell Arise 2').style.display=''; document.getElementById('show_Ghost in the Shell Arise 2').style.display='none';" class="link">Ghost in the Shell Arise 2</a><span id="spoiler_Ghost in the Shell Arise 2" style="display: none"><a onclick="document.getElementById('spoiler_Ghost in the Shell Arise 2').style.display='none'; document.getElementById('show_Ghost in the Shell Arise 2').style.display='';" class="link">[-] Ghost in the Shell Arise 2</a><br><br>
<a href="https://mega.nz/#!5IoF2ZLL!cobakFvPc32xQPa9fWd5vXLaw3g5UxCVr5IT_w3sHZE"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/ghost-in-the-shell-arise-movie-7924/kentutneraka-ghost-in-the-shell-arise-02-bd-720p-aac-f59e59e2,68926,list,1,1.mkv"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Ghost%20in%20the%20Shell%3A%20Arise"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Nov 30, 2013</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">commie</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Giovanni no Shima" onclick="document.getElementById('spoiler_Giovanni no Shima').style.display=''; document.getElementById('show_Giovanni no Shima').style.display='none';" class="link">Giovanni no Shima</a><span id="spoiler_Giovanni no Shima" style="display: none"><a onclick="document.getElementById('spoiler_Giovanni no Shima').style.display='none'; document.getElementById('show_Giovanni no Shima').style.display='';" class="link">[-] Giovanni no Shima</a><br><br>
<a href="https://mega.nz/#!gRZQSZhC!YCBjaS5BEa9ipxQrE1_Y0geB9Xszm33ctZXl9iHFUps"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/giovanni-no-shima-movie-8072"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/7466780cb7/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/2014/09/giovanni-no-shima-pulau-giovanni-bd.html"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Feb 22, 2014</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">\an8</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Mahou Sensou" onclick="document.getElementById('spoiler_Mahou Sensou').style.display=''; document.getElementById('show_Mahou Sensou').style.display='none';" class="link">Mahou Sensou</a><span id="spoiler_Mahou Sensou" style="display: none"><a onclick="document.getElementById('spoiler_Mahou Sensou').style.display='none'; document.getElementById('show_Mahou Sensou').style.display='';" class="link">[-] Mahou Sensou</a><br><br>
<a href="https://mega.nz/#F!tRBT2LYa!zO41E7oV0lGCnTLCeJagXA"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/mahou-sensou-7917"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Mahou%20Sensou"target=_blank>Release here<br></a>
  <td><div align="left">12</div></td>
  <td><div align="left">Mar 28, 2014</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">HS</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">IX</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Ping Pong the Animation" onclick="document.getElementById('spoiler_Ping Pong the Animation').style.display=''; document.getElementById('show_Ping Pong the Animation').style.display='none';" class="link">Ping Pong the Animation</a><span id="spoiler_Ping Pong the Animation" style="display: none"><a onclick="document.getElementById('spoiler_Ping Pong the Animation').style.display='none'; document.getElementById('show_Ping Pong the Animation').style.display='';" class="link">[-] Ping Pong the Animation</a><br><br>
<a href="https://mega.nz/#F!5AgECaiB!LDEWBQoDQyH_8IkMS_sy8A"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/ping-pong-the-animation-8094"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/d954d6fbba/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/search/label/Ping%20Pong"target=_blank>Release here<br></a>
  <td><div align="left">11</div></td>
  <td><div align="left">Jun 20, 2014</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">WhyNot</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">comwhyosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Ghost in the Shell Arise 3" onclick="document.getElementById('spoiler_Ghost in the Shell Arise 3').style.display=''; document.getElementById('show_Ghost in the Shell Arise 3').style.display='none';" class="link">Ghost in the Shell Arise 3</a><span id="spoiler_Ghost in the Shell Arise 3" style="display: none"><a onclick="document.getElementById('spoiler_Ghost in the Shell Arise 3').style.display='none'; document.getElementById('show_Ghost in the Shell Arise 3').style.display='';" class="link">[-] Ghost in the Shell Arise 3</a><br><br>
<a href="https://mega.nz/#!dR5VVSJA!OkrA_AKhgQ7Ys_z1gP1uDiANNJylKaS0bHy8DP1_ZqQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/ghost-in-the-shell-arise-movie-7924/kentutneraka-ghost-in-the-shell-arise-03-bd-720p-aac-c7a77202,68919,list,1,1.mkv"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Ghost%20in%20the%20Shell%3A%20Arise"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Jun 28, 2014</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">commie</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Ghost in the Shell Arise 4" onclick="document.getElementById('spoiler_Ghost in the Shell Arise 4').style.display=''; document.getElementById('show_Ghost in the Shell Arise 4').style.display='none';" class="link">Ghost in the Shell Arise 4</a><span id="spoiler_Ghost in the Shell Arise 4" style="display: none"><a onclick="document.getElementById('spoiler_Ghost in the Shell Arise 4').style.display='none'; document.getElementById('show_Ghost in the Shell Arise 4').style.display='';" class="link">[-] Ghost in the Shell Arise 4</a><br><br>
<a href="https://mega.nz/#!xIYEQZhC!2PEADB4hJHggKzIdQUPniTNt_8oX_UgfEO2OTlGal20"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/ghost-in-the-shell-arise-movie-7924/kentutneraka-ghost-in-the-shell-arise-04-bd-720p-aac-c78ff531,132784,list,1,1.mkv"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Ghost%20in%20the%20Shell%3A%20Arise"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Sep 6, 2014</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">commie</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Baby Steps" onclick="document.getElementById('spoiler_Baby Steps').style.display=''; document.getElementById('show_Baby Steps').style.display='none';" class="link">Baby Steps</a><span id="spoiler_Baby Steps" style="display: none"><a onclick="document.getElementById('spoiler_Baby Steps').style.display='none'; document.getElementById('show_Baby Steps').style.display='';" class="link">[-] Baby Steps</a><br><br>
<a href="https://mega.nz/#F!5Qhg3L7R!LRhgcRI5AlUOusrBDfS3lw"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/baby-steps-7822"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/208bee312e/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/search/label/Baby%20Steps"target=_blank>Release here<br></a>
  <td><div align="left">25</div></td>
  <td><div align="left">Sep 21, 2014</div></td>
  <td><div align="left">Elex</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Yamada-kun to 7-nin no Majo OVA 1" onclick="document.getElementById('spoiler_Yamada-kun to 7-nin no Majo OVA 1').style.display=''; document.getElementById('show_Yamada-kun to 7-nin no Majo OVA 1').style.display='none';" class="link">Yamada-kun to 7-nin no Majo OVA 1</a><span id="spoiler_Yamada-kun to 7-nin no Majo OVA 1" style="display: none"><a onclick="document.getElementById('spoiler_Yamada-kun to 7-nin no Majo OVA 1').style.display='none'; document.getElementById('show_Yamada-kun to 7-nin no Majo OVA 1').style.display='';" class="link">[-] Yamada-kun to 7-nin no Majo OVA 1</a><br><br>
<a href="http://mir.cr/K5UP7VHD"target=_blank>[MC]</a> |
<a href="http://kumpulbagi.com/rakaosd/yamada-kun-to-7-nin-no-majo-49615"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2015/03/yamada-kun-to-7-nin-no-majo-ova-01.html"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Dec 17, 2014</div></td>
  <td><div align="left">NandoL</div></td>
  <td><div align="left">Mahou-X</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">Mahou-X</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Wolf Girl and Black Prince" onclick="document.getElementById('spoiler_Wolf Girl and Black Prince').style.display=''; document.getElementById('show_Wolf Girl and Black Prince').style.display='none';" class="link">Wolf Girl and Black Prince</a><span id="spoiler_Wolf Girl and Black Prince" style="display: none"><a onclick="document.getElementById('spoiler_Wolf Girl and Black Prince').style.display='none'; document.getElementById('show_Wolf Girl and Black Prince').style.display='';" class="link">[-] Wolf Girl and Black Prince</a><br><br>
<a href="http://kumpulbagi.com/rakaosd/wolf-girl-and-black-prince-7816"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Wolf Girl and Black Prince"target=_blank>Release here<br></a>
  <td><div align="left">12</div></td>
  <td><div align="left">Dec 21, 2014</div></td>
  <td><div align="left">Yupina</div></td>
  <td><div align="left">HSedit</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td class="title"></b> <a id="show_1" onclick="document.getElementById('spoiler_1').style.display=''; document.getElementById('show_1').style.display='none';" class="link">Shinmai Maou no Testament</a><span id="spoiler_1" style="display: none"><a onclick="document.getElementById('spoiler_1').style.display='none'; document.getElementById('show_1').style.display='';" class="link">Shinmai Maou no Testament</a><br><br>
[KB] <a href="http://kumpulbagi.com/rakaosd/shinmai-maou-no-testament-24542"target=_blank>(TV/BD)</a> |
Release Here <a href="http://www.kentutneraka.org/search/label/Shinmai%20Maou%20no%20Testament%20"target=_blank>(TV)</a> | 
<a href="http://www.kentutneraka.org/search/label/Shinmai%20Maou%20no%20Testament%20BD">(BD)<br></a></div></td>
  <td><div align="left">12</div></td>
  <td><div align="left">Mar 26, 2015</div></td>
  <td><div align="left">Calutakburi</div></td>
  <td><div align="left">HSedit</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">FFFyuuosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td class="title"></b> <a id="show_The Seven Deadly Sins" onclick="document.getElementById('spoiler_The Seven Deadly Sins').style.display=''; document.getElementById('show_The Seven Deadly Sins').style.display='none';" class="link">The Seven Deadly Sins</a><span id="spoiler_The Seven Deadly Sins" style="display: none"><a onclick="document.getElementById('spoiler_The Seven Deadly Sins').style.display='none'; document.getElementById('show_The Seven Deadly Sins').style.display='';" class="link">[-] The Seven Deadly Sins</a><br><br>
  [KB] <a href="http://kumpulbagi.com/rakaosd/the-seven-deadly-sins-nanatsu-no-taizai-7813"target=_blank>(TV)</a> |
  <a href="http://kumpulbagi.com/rakaosd/the-seven-deadly-sins-nanatsu-no-taizai-bd-98337"target=_blank>(BD)</a>
Release Here <a href="http://www.kentutneraka.org/search/label/The%20Seven%20Deadly%20Sins"target=_blank>(TV)</a> | 
<a href="http://www.kentutneraka.org/search/label/The%20Seven%20Deadly%20Sins%20BD">(BD)<br></a></div></td>
  <td><div align="left">24</div></td>
  <td><div align="left">Mar 29, 2015
</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">osdraka</div></td>
  <td><div align="left"><s>chyuu</s>rakaosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Yoru no Yatterman" onclick="document.getElementById('spoiler_Yoru no Yatterman').style.display=''; document.getElementById('show_Yoru no Yatterman').style.display='none';" class="link">Yoru no Yatterman</a><span id="spoiler_Yoru no Yatterman" style="display: none"><a onclick="document.getElementById('spoiler_Yoru no Yatterman').style.display='none'; document.getElementById('show_Yoru no Yatterman').style.display='';" class="link">[-] Yoru no Yatterman</a><br><br>
<a href="https://mega.nz/#F!HV1zwTAT!lFW49V_s_e5E6xTLbiRgRQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/yoru-no-yatterman-30176"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Yoru%20no%20Yatterman"target=_blank>Release here<br></a>
  <td><div align="left">12</div></td>
  <td><div align="left">Mar 29, 2015</td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_wolfova" onclick="document.getElementById('spoiler_wolfova').style.display=''; document.getElementById('show_wolfova').style.display='none';" class="link">Wolf Girl and Black Prince OVA</a><span id="spoiler_wolfova" style="display: none"><a onclick="document.getElementById('spoiler_wolfova').style.display='none'; document.getElementById('show_wolfova').style.display='';" class="link">[-] Wolf Girl and Black Prince OVA</a><br><br>
<a href="http://kumpulbagi.com/rakaosd/wolf-girl-and-black-prince-7816"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/d/fdc5e048be/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/2015/10/wolf-girl-and-black-prince-ova-13.html"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Apr 24, 2015</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">osdakar</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Taifuu no Noruda" onclick="document.getElementById('spoiler_Taifuu no Noruda').style.display=''; document.getElementById('show_Taifuu no Noruda').style.display='none';" class="link">Taifuu no Noruda</a><span id="spoiler_Taifuu no Noruda" style="display: none"><a onclick="document.getElementById('spoiler_Taifuu no Noruda').style.display='none'; document.getElementById('show_Taifuu no Noruda').style.display='';" class="link">[-] Taifuu no Noruda</a><br><br>
<a href="http://www.tusfiles.net/6selhgescufi"target=_blank>[TF]</a> |
<a href="http://kumpulbagi.com/rakaosd/taifuu-no-noruda-topan-noruda-bd-165138"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2015/09/taifuu-no-noruda-topan-noruda-bd.html"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Jun 5, 2015</div></td>
  <td><div align="left">calutak</div></td>
  <td><div align="left">Ichwan</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>

<!-- tanda GitsAA -->
<td class="title"></b> <a id="show_GitsAA" onclick="document.getElementById('spoiler_GitsAA').style.display=''; document.getElementById('show_GitsAA').style.display='none';" class="link">Ghost in the Shell Arise Alternative Architecture</a><span id="spoiler_GitsAA" style="display: none"><a onclick="document.getElementById('spoiler_GitsAA').style.display='none'; document.getElementById('show_GitsAA').style.display='';" class="link">[-] Ghost in the Shell Arise Alternative Architecture</a><br><br>
<a href="https://mega.nz/#F!8loU0JiT!bJQ7tBy1YzcTQV-TMQnQKg"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/ghost-in-the-shell-arise-movie-7924/list,1,1"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2015/11/ghost-in-shell-arise-alternative-bd-batch.html"target=_blank>Release here<br></a>
  <td><div align="left">10</div></td>
  <td><div align="left">Jun 14, 2015</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">Commie</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">osdakar</div></td>
</tr>

<!-- tanda GitsMOVIE -->
<td class="title"></b> <a id="show_GitsMovie" onclick="document.getElementById('spoiler_GitsMovie').style.display=''; document.getElementById('show_GitsMovie').style.display='none';" class="link">Ghost in the Shell New Movie (2015)</a><span id="spoiler_GitsMovie" style="display: none"><a onclick="document.getElementById('spoiler_GitsMovie').style.display='none'; document.getElementById('show_GitsMovie').style.display='';" class="link">[-] Ghost in the Shell New Movie (2015)</a><br><br>
<a href="https://mega.nz/#!htwgRBQT!70Z2DDYli4JqZbi2YKxeMwKdVpEs94gEkeqQluZ_WnE"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/ghost-in-the-shell-arise-movie-7924/list,1,1"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2015/12/ghost-in-shell-the-new-movie.html"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Jun 20, 2015</div></td>
  <td><div align="left">Ridsa</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">Commie</div></td>
</tr>

	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Shinmai Maou no Testament OVA" onclick="document.getElementById('spoiler_Shinmai Maou no Testament OVA').style.display=''; document.getElementById('show_Shinmai Maou no Testament OVA').style.display='none';" class="link">Shinmai Maou no Testament OVA</a><span id="spoiler_Shinmai Maou no Testament OVA" style="display: none"><a onclick="document.getElementById('spoiler_Shinmai Maou no Testament OVA').style.display='none'; document.getElementById('show_Shinmai Maou no Testament OVA').style.display='';" class="link">[-] Shinmai Maou no Testament OVA</a><br><br>
<a href="http://kumpulbagi.com/rakaosd/shinmai-maou-no-testament-24542"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2015/06/shinmai-maou-no-testament-ova-13.html"target=_blank>Release here<br></a>
  <td><div align="left">1</div></td>
  <td><div align="left">Jun 22, 2015</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">BobbyOm</div></td>
  <td><div align="left">OmBobby</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_YRova" onclick="document.getElementById('spoiler_YRova').style.display=''; document.getElementById('show_YRova').style.display='none';" class="link">Yuru Yuri Nachuyachumi! Plus</a><span id="spoiler_YRova" style="display: none"><a onclick="document.getElementById('spoiler_YRova').style.display='none'; document.getElementById('show_YRova').style.display='';" class="link">[-] Yuru Yuri Nachuyachumi! Plus</a><br><br>
<a href="http://kumpulbagi.com/rakaosd/yuru-yuri-186766/list,1,1"target=_blank>[KB]</a> |
<a href="http://www.solidfiles.com/folder/e02e4f5987/"target=_blank>[SF]</a> |
<a href="http://www.kentutneraka.org/search/label/Yuru%20Yuri%20Nachuyachumi%21%2B%20OVA"target=_blank>Release here<br></a>
  <td><div align="left">2</div></td>
  <td><div align="left">Sep 18, 2015</div></td>
  <td><div align="left">irzie</div></td>
  <td><div align="left">calutak</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Baby Steps 2" onclick="document.getElementById('spoiler_Baby Steps 2').style.display=''; document.getElementById('show_Baby Steps 2').style.display='none';" class="link">Baby Steps 2</a><span id="spoiler_Baby Steps 2" style="display: none"><a onclick="document.getElementById('spoiler_Baby Steps 2').style.display='none'; document.getElementById('show_Baby Steps 2').style.display='';" class="link">[-] Baby Steps 2</a><br><br>
<a href="https://mega.nz/#F!ONNDRJrA!trtvSQr4pcCtzuNbkmuyWQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/baby-steps-2-62278/list,1,1"target=_blank>[KB]</a> |
<a href="http://wagnaria.github.io/mirror/baby-steps-s2.htm"target=_blank>[Mirror]</a> |
<a href="http://www.kentutneraka.org/search/label/Baby%20Steps%202"target=_blank>Release here<br></a>
  <td><div align="left">25</div></td>
  <td><div align="left">Sep 20, 2015</div></td>
  <td><div align="left">elexbobby</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_rokka" onclick="document.getElementById('spoiler_rokka').style.display=''; document.getElementById('show_rokka').style.display='none';" class="link">Rokka no Yuusha</a><span id="spoiler_rokka" style="display: none"><a onclick="document.getElementById('spoiler_rokka').style.display='none'; document.getElementById('show_rokka').style.display='';" class="link">[-] Rokka no Yuusha</a><br> 
<a href="https://mega.nz/#F!6AEyCbbY!lXphA0yLA3cIXZSDMqM1Vw"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/rokka-no-yuusha-120836/list,1,1"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/search/label/Rokka%20no%20Yuusha"target=_blank>Release here<br></a>
  <td><div align="left">12</div></td>
  <td><div align="left">Sep 20, 2015</div></td>
  <td><div align="left">titidus</div></td>
  <td><div align="left">HSedit</div></td>
  <td><div align="left">NandoL</div></td>
  <td><div align="left">NandoL</div></td>
</tr>

	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Ore Monogatari!!" onclick="document.getElementById('spoiler_Ore Monogatari!!').style.display=''; document.getElementById('show_Ore Monogatari!!').style.display='none';" class="link">Ore Monogatari!!</a><span id="spoiler_Ore Monogatari!!" style="display: none"><a onclick="document.getElementById('spoiler_Ore Monogatari!!').style.display='none'; document.getElementById('show_Ore Monogatari!!').style.display='';" class="link">[-] Ore Monogatari!!</a><br><br>
<a href="https://mega.nz/#F!HYUEVTSb!0rZANt2naQviG8N4jhzr0Q"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/ore-monogatari-64123"target=_blank>[KB]</a> |
<a href="http://wagnaria.github.io/mirror/ore-monogatari.htm"target=_blank>[Mirror]</a> |
<a href="http://www.kentutneraka.org/search/label/Ore%20Monogatari%21%21"target=_blank>Release here<br></a>
  <td><div align="left">24</div></td>
  <td><div align="left">Sep 24, 2015</div></td>
  <td><div align="left">titidus</div></td>
  <td><div align="left">HSedit</div></td>
  <td><div align="left">Yupinaosd</div></td>
  <td><div align="left">commieosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Prison School" onclick="document.getElementById('spoiler_Prison School').style.display=''; document.getElementById('show_Prison School').style.display='none';" class="link">Prison School</a><span id="spoiler_Prison School" style="display: none"><a onclick="document.getElementById('spoiler_Prison School').style.display='none'; document.getElementById('show_Prison School').style.display='';" class="link">[-] Prison School</a><br><br>
<a href="https://mega.nz/#F!2UMVBZLA!h6Cys6gepZynwQWXP6X5rw"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/prison-school-122752"target=_blank>[KB]</a> |
<a href="http://wagnaria.github.io/mirror/prison-school.htm"target=_blank>[Mirror]</a> |
<a href="http://www.kentutneraka.org/search/label/Prison%20School"target=_blank>Release here<br></a>
  <td><div align="left">12</div></td>
  <td><div align="left">Sep 26, 2015</div></td>
  <td><div align="left">NandoL</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>
	<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
	<td class="title"></b> <a id="show_Working!!!" onclick="document.getElementById('spoiler_Working!!!').style.display=''; document.getElementById('show_Working!!!').style.display='none';" class="link">Working!!!</a><span id="spoiler_Working!!!" style="display: none"><a onclick="document.getElementById('spoiler_Working!!!').style.display='none'; document.getElementById('show_Working!!!').style.display='';" class="link">[-] Working!!!</a><br><br>
<a href="https://mega.nz/#F!nccCgCIS!AEc5MyyRfZ_5EHXFya4tYg"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/working-118661"target=_blank>[KB]</a> |
<a href="http://wagnaria.github.io/mirror/working-s3.htm"target=_blank>[Mirror]</a> |
<a href="http://www.kentutneraka.org/search/label/Working%21%21%21"target=_blank>Release here<br></a>
  <td><div align="left">13</div></td>
  <td><div align="left">Sep 27, 2015</div></td>
  <td><div align="left">calutak</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>

<!-- tanda Arslan Senki -->
<td class="title"></b> <a id="show_arslan" onclick="document.getElementById('spoiler_arslan').style.display=''; document.getElementById('show_arslan').style.display='none';" class="link">Arslan Senki (The Heroic Legend of Arslan)</a><span id="spoiler_arslan" style="display: none"><a onclick="document.getElementById('spoiler_arslan').style.display='none'; document.getElementById('show_arslan').style.display='';" class="link">[-] Arslan Senki (The Heroic Legend of Arslan)</a><br><br>
<a href="https://mega.nz/#F!CAEjzaRL!F7zDf3SiqRPUe9D2-m8sGQ"target=_blank>[Mega]</a> |
<a href="http://kumpulbagi.com/rakaosd/arslan-senki-64934/list,1,1"target=_blank>[KB]</a> |
<a href="http://www.kentutneraka.org/2015/11/arslan-senki-batch.html"target=_blank>Release here<br></a>
  <td><div align="left">25</div></td>
  <td><div align="left">Sep 27, 2015</div></td>
  <td><div align="left">Zhara</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">Nandosd</div></td>
  <td><div align="left">NandoL</div></td>
</tr>

<!-- tanda kagewani-->
<td class=""></b> <a id="show_kagewani" onclick="document.getElementById('spoiler_kagewani').style.display=''; document.getElementById('show_kagewani').style.display='none';" class="link">Kagewani</a><span id="spoiler_kagewani" style="display: none"><a onclick="document.getElementById('spoiler_kagewani').style.display='none'; document.getElementById('show_kagewani').style.display='';" class="link">[-] Kagewani</a><br><br>
<a href="http://wagnaria.github.io/mirror/kagewani.htm"target=_blank>KumpulBagi</a> |
<a href="https://mega.nz/#F!Ag52QSLa!LcxwHjK3IlfGGPWCXC4sRA"target=_blank>Mega<br></a> |
<a href="http://www.kentutneraka.org/search/label/Kagewani">Release here<br></td>
  <td><div align="left">13</div></td>
  <td><div align="left">Oct 2, 2015</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">OmBobby</div></td>
  <td><div align="left">rakaosd</div></td>
  <td><div align="left">rakaosd</div></td>
</tr>
</tr></tbody></table>
</div>
</body></html>
<p align="right"><span class="style6"><br><br>
&nbsp; &nbsp;Klik kartun untuk info lebih detail.&nbsp; &nbsp;<br>
&nbsp; &nbsp;Puaskah dengan rilisan kami?&nbsp; &nbsp;<br><br>
&nbsp; &nbsp;Kritik dan saran-&gt;</span><a href="https://twitter.com/rakapriadika" target="_blank" class="s">rakaosd&nbsp; &nbsp;</a></p></div>
