<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>Wagnaria!/KN - Incomplete</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>
<div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://www.kentutneraka.org">Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://wagnaria.github.io/shows/airing.htm">Airing (9) </a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://wagnaria.github.io/shows/incomplete.htm">Incomplete (10)</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria.github.io/shows/completed.htm">Completed (31)</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria.github.io/staff.htm">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria.github.io/recruitment.htm">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://c.kentutneraka.org/">Lounge (Staff only)</a></li>
      </ul>
    </div>
  </div>
  <div id="???" class="pure-u" data-ui-view></div>
</div>  
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fffff;
}

-->
</style>
<link href="favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body hola-ext-player="1">
<div class="pure-g-r" id="basket"><span class="pure-menu-toggle" id="toggle" pbzloc="66">?</span>
<div class="pure-u" data-ui-view="" id="?H???">
<div class="ng-scope" data-ui-view="" id="muffinbox">
<table class="pure-table pure-table-horizontal ng-scope">
<thead>
<tr><th width="20%">Series</th>
<th width="10%">Episode</th>
<th width="17%">Last released</th>
<th width="12%">Translator</th>
<th width="12%">Timer</th>
<th width="12%">Editor</th>
<th width="12%">Typesetter</th>
<th width="12%">Encoded?</th>
</tr></thead>
   <!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="http://www.kentutneraka.org/search/label/Madlax">Madlax</a></td>
<td>15 (of 26)</td>
<td>Dec 1, 2013</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">osdraka</td>
<td class="staff-status-false">\an8</td>
<td class="staff-status-false encoded-status">No</td>
 <!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="https://mega.co.nz/#F!YAZHxDJB!Pwmwb1km4Sk6ezzxNvwI8Q">Yowamushi Pedal</a></td>
<td>5 (of 38)</td>
<td>Feb 4, 2014 </td>
<td class="staff-status-false">calutak</td>
<td class="staff-status-false">HSedit</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true">commieosd</td>
<td class="staff-status-true encoded-status">Yes</td>
<!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="http://www.kentutneraka.org/search/label/Ghost in the Shell%3A SAC">Ghost in the Shell: SAC</a></td>
<td>3 (of 26)</td>
<td>Mar 21, 2014</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">osdraka</td>
<td class="staff-status-false">\an8</td>
<td class="staff-status-true encoded-status">Yes</td>
<!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="http://www.kentutneraka.org/search/label/JAV IDOL">Locodol </a></td>
<td>4 (of 12)</td>
<td>Aug 19, 2014</td>
<td class="staff-status-false">calutak</td>
<td class="staff-status-false">HSedit</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">FFFosd</td>
<td class="staff-status-true encoded-status">Yes</td>
<!-- tanda -->
<tbody>
<tr class="subbing">
<td class=""><a href="http://www.kentutneraka.org/search/label/Shigatsu%20wa%20Kimi%20no%20Uso">Shigatsu wa Kimi no Uso </a></td>
<td>3 (of 22)</td>
<td>Oct 17, 2014</td>
<td class="staff-status-true">NSFK</td>
<td class="staff-status-false">HSedit</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">commieosd</td>
<td class="staff-status-true encoded-status">Yes</td>
<!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="http://kumpulbagi.com/rakaosd/mononoke-bd-57933">Mononoke</a></td>
<td>2 (of 12)</td>
<td>?</td>
<td class="staff-status-false">Akbar</td>
<td class="staff-status-false">Akbar</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true encoded-status">Yes</td>
<!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="http://www.kentutneraka.org/search/label/Sailor Moon Crystal">Sailor Moon Crystal</a></td>
<td>18 (of 26)</td>
<td>Mar 8, 2015</td>
<td class="staff-status-true">Niconico</td>
<td class="staff-status-false">HSedit</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">\an8</td>
<td class="staff-status-true encoded-status">Yes</td>
<!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="http://www.kentutneraka.org/search/label/One Outs">One Outs</a></td>
<td>13 (of 25)</td>
<td>Mar 30, 2015 .</td>
<td class="staff-status-true">titidus</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-false">rakaosd</td>
<td class="staff-status-true encoded-status">Yes</td>
<!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="http://www.kentutneraka.org/search/label/Nana">Nana</a></td>
<td>20 (of 47)</td>
<td>Apr 2, 2015</td>
<td class="staff-status-true">tinelly</td>
<td class="staff-status-false">jinseiedit</td>
<td class="staff-status-false">Yupina</td>
<td class="staff-status-true">jinseiosd</td>
<td class="staff-status-true encoded-status">Yes</td>
<!-- tanda -->
<tbody>
<tr class="subbing">
<td class="title"><a href="http://www.kentutneraka.org/search/label/Re-Kan!">Re-Kan!</a></td>
<td>2 (of 13)</td>
<td>Apr 12,  2015</td>
<td class="staff-status-true">NandoL</td>
<td class="staff-status-true">HS</td>
<td class="staff-status-true">Nezumikyun</td>
<td class="staff-status-true">rakaosd</td>
<td class="staff-status-true encoded-status">Yes</td>
</tbody></table>
</div></body></html>
  <p align="right"><span class="style6">
&nbsp; &nbsp;Tetaplah sabar dan menjadi wibu yang baik.&nbsp; &nbsp;<br>
<br>
&nbsp; &nbsp;Kritik dan saran-&gt;</span><a href="https://twitter.com/rakapriadika" target="_blank" class="s">rakaosd&nbsp; &nbsp;</a></p>
</div>