<!DOCTYPE html>
<html lang="en" data-ng-app="Wagnaria">
<head>
  <title>Ruang Staff Wagnaria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
  <style type="text/css">
<!--
.style4 {color: #FFFFFF}
.style5 {color: #fbd3c3}
.style6 {color: #2f7ab9}
.style7 {color: #000000}
-->
  </style>
</head>
<body>

<div id="basket" class="pure-g-r">
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="http://www.kentutneraka.org">Kentutneraka</a>
      <ul ng-controller="StatusCtrl">
        <li id="nav_airing" ng-if="counts.airing > 0"><a href="http://wagnaria-kn.zz.mu/">Airing (9) </a></li>
        <li id="nav_incomplete" ng-if="counts.incomplete > 0"><a href="http://wagnaria-kn.zz.mu/incomplete.php">Incomplete (10)</a></li>
        <li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria-kn.zz.mu/completed.php">Completed (30)</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria-kn.zz.mu/staff.php">Staff</a></li>
		<li id="nav_complete" ng-if="counts.complete > 0"><a href="http://wagnaria-kn.zz.mu/recruitment.html">Recruitment?</a></li>
		  <li id="nav_staff" class="menu-item-divided"><a href="http://wagnaria-kn.zz.mu/showtimes">Ruang Staff KN</a></li>
      </ul>
    </div>
  </div>
  <div id="???" class="pure-u" data-ui-view></div>
</div>  
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="lib/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js"></script>
  <script src="lib/angular-piwik.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/ja.js"></script>
  <script src="js/main.js"></script>

    <!-- Templates -->
  <style type="text/css">
<!--
.style31 {color: 0000}
-->
</style>
</head>
<style type="text/css">
<!--
body {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 191px;
	background-color: #fffff;
}

-->
</style>

<style>
#sidebar-right {
border-left: 1px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:362px;
float:right;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:right;
overflow:hidden;
padding-left:8px;
margin-right:13px;
width:362px;
word-wrap:break-word;
}
</style>
<style>
#sidebar-left {
border-left: 0px solid #00000;
border-bottom: 1px solid #00000;
background:#00000;
width:450px;
float:left;
padding:0px;
}
#sidebar-wrapper {
background:transparent

url(http://2.bp.blogspot.com/_rLYhkzmU7RY/TDvfgoOK5uI/AAAAAAAAAAU/kOXGkdBkMT4/s1600/sidebg.gif) repeat-y scroll left

top;
float:left;
overflow:hidden;
padding-left:0px;
margin-right:0px;
width:400x;
word-wrap:break-word;
}
</style>
<body><div id="食べ物" class="pure-u"><table class="pure-table pure-table-horizontal">
 <div id="" class="well"><thead>
<tr>
<th><h1>Ruang Staff Wagnaria!/KN</h1></th>
</tbody>
</table>
<h2>&nbsp;&nbsp;&nbsp;Ngesub!</h2>
<b>&nbsp;&nbsp;&nbsp;&nbsp;<td class="title"></b> <a id="show_arslan" onclick="document.getElementById('spoiler_arslan').style.display=''; document.getElementById('show_arslan').style.display='none';" class="link">[+] Arslan Senki (The Heroic Legend of Arslan)</a><span id="spoiler_arslan" style="display: none"><a onclick="document.getElementById('spoiler_arslan').style.display='none'; document.getElementById('show_arslan').style.display='';" class="link">[-] Arslan Senki (The Heroic Legend of Arslan)</a><br> <br>

<div id="sidebar-right">
<div id="sidebar" class="sidebar section">
&nbsp; &nbsp;&nbsp; &nbsp;<b>Translator:</b> Zhara<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Timer:</b> OmBobby<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Editor:</b> NandoL<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Typesetter:</b> NandoL<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Encoder:</b> Panji<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>QC:</b> rakaosd<br><br>
</div></div>
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp; &nbsp;&nbsp; &nbsp;<b>Judul Romaji:</b> Arslan Senki<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Judul Indonesia:</b> Legenda Heroik Arslan<br>
&nbsp; &nbsp;&nbsp; &nbsp;<b>Tayang (Lokal):</b> Minggu - 17.00 WIB<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Jumlah Episode:</b> 25<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Kanal:</b> MBS<br> </div></div>
<br>
<center><iframe src="http://goo.gl/forms/AEl7Ua9DjE" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Memuat...</iframe></center><hr></span><br>

<!-- Sekat -->

<b>&nbsp;&nbsp;&nbsp;&nbsp;<td class="title"></b> <a id="show_oremon" onclick="document.getElementById('spoiler_oremon').style.display=''; document.getElementById('show_oremon').style.display='none';" class="link">[+] Ore Monogatari!!</a><span id="spoiler_oremon" style="display: none"><a onclick="document.getElementById('spoiler_oremon').style.display='none'; document.getElementById('show_oremon').style.display='';" class="link">[-] Ore Monogatari!!</a><br> <br>

<div id="sidebar-right">
<div id="sidebar" class="sidebar section">
&nbsp; &nbsp;&nbsp; &nbsp;<b>Translator:</b> titidus<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Timer:</b> HS/rakaosd<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Editor:</b> rakaosd<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Typesetter:</b> commie/rakaosd<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Encoder:</b> Berpergian<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>QC:</b> akarosd<br><br>
</div></div>
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp; &nbsp;&nbsp; &nbsp;<b>Judul Romaji:</b> Ore Monogatari<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Judul Indonesia:</b> Kisahku<br>
&nbsp; &nbsp;&nbsp; &nbsp;<b>Tayang (Lokal):</b> Kamis - 02.00 WIB<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Jumlah Episode:</b> 24<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Kanal:</b> Crunchyroll<br> </div></div>
<br>
<center><iframe src="http://goo.gl/forms/ArrZNXdQDs" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Memuat...</iframe></center><hr></span><br> 
<!-- Sekat -->

<b>&nbsp;&nbsp;&nbsp;&nbsp;<td class="title"></b> <a id="show_rokka" onclick="document.getElementById('spoiler_rokka').style.display=''; document.getElementById('show_rokka').style.display='none';" class="link">[+] Rokka no Yuusha</a><span id="spoiler_rokka" style="display: none"><a onclick="document.getElementById('spoiler_rokka').style.display='none'; document.getElementById('show_rokka').style.display='';" class="link">[-] Rokka no Yuusha</a><br> <br>

<div id="sidebar-right">
<div id="sidebar" class="sidebar section">
&nbsp; &nbsp;&nbsp; &nbsp;<b>Translator:</b> titidus<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Timer:</b> HS/rakaosd<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Editor:</b> NandoL<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Typesetter:</b> NandoL<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Encoder:</b> Hariri<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>QC:</b> rakaosd<br><br>
</div></div>
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp; &nbsp;&nbsp; &nbsp;<b>Judul Romaji:</b> Rokka no Yuusha<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Judul Indonesia:</b> Pahlawan Enam Bunga<br>
&nbsp; &nbsp;&nbsp; &nbsp;<b>Tayang (Lokal):</b> Minggu - 02.58 WIB<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Jumlah Episode:</b> 12<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Kanal:</b> Crunchyroll<br> </div></div>
<br>
<center><iframe src="http://goo.gl/forms/rD4zCesrWk" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Memuat...</iframe></center><hr></span><br>
<!-- Sekat -->

<b>&nbsp;&nbsp;&nbsp;&nbsp;<td class="title"></b> <a id="show_working" onclick="document.getElementById('spoiler_working').style.display=''; document.getElementById('show_working').style.display='none';" class="link">[+] Working!!!</a><span id="spoiler_working" style="display: none"><a onclick="document.getElementById('spoiler_working').style.display='none'; document.getElementById('show_working').style.display='';" class="link">[-] Working!!!</a><br> <br>

<div id="sidebar-right">
<div id="sidebar" class="sidebar section">
&nbsp; &nbsp;&nbsp; &nbsp;<b>Translator:</b> calutak<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Timer:</b> HS/OmBobby<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Editor:</b> OmBobby<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Typesetter:</b> rakaosd<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Encoder:</b> Panji<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>QC:</b> rakaosd<br><br>
</div></div>
<div id="sidebar-left">
<div id="sidebar" class="sidebar section">
&nbsp; &nbsp;&nbsp; &nbsp;<b>Judul Romaji:</b> Working!!!<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Judul Indonesia:</b> Working Musim Ketiga<br>
&nbsp; &nbsp;&nbsp; &nbsp;<b>Tayang (Lokal):</b> Minggu - 01.00 WIB<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Jumlah Episode:</b> 12<br> 
&nbsp; &nbsp;&nbsp; &nbsp;<b>Kanal:</b> Crunchyroll<br> </div></div>
<br>
<center><iframe src="http://goo.gl/forms/ezU5thKw44" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Memuat...</iframe></center><hr></span><hr>

<!-- Sekat -->

<h2>&nbsp;&nbsp;&nbsp;Harus CTRL+D</h2>
&nbsp;&nbsp;&nbsp;&nbsp; Tutorial/pegangan: <a href="http://knraws.id.ai/arsip/">http://knraws.id.ai/arsip/</a><br>
&nbsp;&nbsp;&nbsp;&nbsp; Workraw: <a href="http://knraws.id.ai/workraw/">http://knraws.id.ai/workraw/</a><br>
&nbsp;&nbsp;&nbsp;&nbsp; Takarir (Publik): <a href="http://knraws.id.ai/takarir/">http://knraws.id.ai/takarir/</a><br>
&nbsp;&nbsp;&nbsp;&nbsp; Akses server/tusfiles/kumpulbagi/mega(rilisan & skrip): <a href="http://puu.sh/im9Ix/754fc34762.png">http://puu.sh/im9Ix/754fc34762.png</a><br> 
&nbsp;&nbsp;&nbsp;&nbsp; Data base skrip mega: <a href="https://mega.nz/#F!Gx0hlL7J!qms7CloAjga5eYmDoi_2Qw">https://mega.nz/#F!Gx0hlL7J!qms7CloAjga5eYmDoi_2Qw</a><hr>
<!-- Sekat -->

<h2>&nbsp;&nbsp;&nbsp;Alat Perang</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">Aegisub</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">Animechecker</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">Kamus 2.04</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">KBBI Luring</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">Filezilla</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">Wakan</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">MKVmerge</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">MeGUI_2525_x86</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">MKVmerge</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">NeroAACCodec-1.5.1</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">Mocha</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">Motion lua</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">KeyframesGenerator</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">r2525kMod 40bb568</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://knraws.id.ai/arsip/">tMod [10-bit@all X86]</a> <br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<em>*Linknya belum dimasukin -__-</em><hr>
<!-- Sekat -->

<h2>&nbsp;&nbsp;&nbsp;Tautan Berguna</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.nyaa.se/">Nyaa</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://animetosho.org/">Animetosho</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://kitsunekko.net/">Kitsunekko</a>



